<!--  首页 -->
<template>
	<view class="container">
		<my-header></my-header>
		<view class="content">
			<!-- 首页轮播 -->
        <view class="uni-padding-wrap">
            <view class="page-section swiper" style="height: 100%;">
                <view class="page-section-spacing" style="height: 100%;">
                    <swiper style="height: 100%;" class="swiper" :indicator-dots="indicatorDots" :autoplay="autoplay" :interval="interval" :duration="duration" 
					:indicator-active-color="dotColor" :circular=true>
                        <swiper-item  v-for="(item,index) in bannerList" :key="index">
                            <img :src="item" alt="">
                        </swiper-item>
                    </swiper>
                </view>
            </view>
        </view>
			<view class="weather">
				<view class="weather_content">今日天气 {{dataList.wea}} {{dataList.tem2}}-{{dataList.tem}} 空气污染指数 {{dataList.air_level}}
					{{dataList.air_tips}}
				</view>
				<view class="weather_add_serve">
					<img src="../../static/img/location.png" alt="">
					<span>您当前在{{dataList.city}},共有8家注册商户为您提供服务</span>
				</view>
			</view>
			<view class="btn_box">
				<view class="box1" v-for="(item,index) in pageList" :key="index" @click="toPage(item.path)">
					<img :src="item.imgUrl" alt="">
					<view class="box2">{{item.title}}</view>
				</view>
			</view>
		</view>
		<my-footer ></my-footer>
	</view>
</template>

<script>
	 import head from '../../components/myHeader.vue'
	export default {
		name: "index",
		data() {
			return {
				bannerList: [
					require('../../static/img/banner1.jpg'),
					require('../../static/img/banner2.jpg'),
					require('../../static/img/banner3.jpg')
				],
				pageList: [{
						title: '预约床位',
						imgUrl: require('../../static/img/bed.png'),
						path: '/pages/index/bed/bed'
					},
					{
						title: '长者健康',
						imgUrl: require('../../static/img/healthy.png'),
						path: '/pages/index/healthy/healthy'
					},
					{
						title: '肿瘤基因检测',
						imgUrl: require('../../static/img/tumour.png'),
						path: '/pages/index/tumour/tumour'
					},
					{
						title: '惠老福利',
						imgUrl: require('../../static/img/welfare.png'),
						path: '/pages/index/welfare/welfare'
					},
					{
						title: '家政服务',
						imgUrl: require('../../static/img/service.png'),
						path: '/service'
					},
					{
						title: '比南山',
						imgUrl: require('../../static/img/mountain.png'),
						path: '/mountain'
					},
					{
						title: '常青学苑',
						imgUrl: require('../../static/img/classroom.png'),
						path: '/classroom'
					},
					{
						title: '每日头条',
						imgUrl: require('../../static/img/news.png'),
						path: '/news'
					},
					{
						title: '金色广播',
						imgUrl: require('../../static/img/radio.png'),
						path: '/radio'
					}
				],
				dataList: '',
				weather: '',
				 background: ['color1', 'color2', 'color3'],
            indicatorDots: true,
            autoplay: true,
            interval: 2000,
            duration: 500,
			dotColor:'#66B821'
			}
		},
	
		onLoad() {
			const _self = this;
			uni.request({
				url: 'https://www.tianqiapi.com/api/',
				method: 'GET',
				data: {
					version: 'v6',
				},
				success: function(res) {
					console.log(res);
					_self.dataList = res.data;
					// _self.weather = res.data[0];
				}
			});

		},
		methods: {
			toPage(path) {
				uni.navigateTo({
					url: path
				});
			}
			
		}
	}
</script>

<style scoped>
	.container {
		width: 100%;
		height: 100%;
		padding-top: 88upx;
		/* padding-bottom: 110upx; */
		box-sizing: border-box;
		text-align: center;
	}

	.content {
		width: 100%;
		height: auto;
		box-sizing: border-box;
		padding-bottom: 150upx;
	}

	.uni-padding-wrap{
		height: 500upx;
	}
	
	.weather {
		width: 100%;
		height: 150upx;
		background-color: #f1f1f1;
		text-align: left;
		padding: 20upx 30upx;
		box-sizing: border-box;
	}

	.weather_content {
		padding: 12upx 0;
		box-sizing: border-box;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-align: left;
		font-size: 25upx;
	}

	.weather_add_serve {
		padding: 12upx 0;
		box-sizing: border-box;
		position: relative;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		text-align: left;
		width: 100%;
		font-size: 25upx;
	}

	.btn_box {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 30upx;
	}

	.btn_box .box1 {
		width: 30%;
		text-align: center;
		margin-top: 10upx;
	}

	.btn_box .box2 {
		margin-block-start: 2upx;
		font-size: 30upx;
	}

	.btn_box img {
		width: 140upx;
		height: 140upx;
	}

	.weather_add_serve img {
		width: 32upx;
		height: 32upx;
		position: absolute;
	}
	.weather_add_serve span{
		display: inline-block;
		margin-left: 35upx;
		}
</style>
