<!--比南山 所有作品-->
<template>
  <div class="container">
    <div class="goods_list">
      <div class="goods_box" v-for="(item,index) in goodsList" :key="index"
           @click="toPages('/mountainDetails',item.id)">
        <div class="goods_box_left">
          <img :src="'http://hou.jz-365.com'+item.thumb"  alt="">
        </div>
        <div class="goods_box_right">
          <h4>{{item.name}}</h4>
          <span>{{item.older}} 作品</span>
          <p>价格 {{item.money}}</p>
          <div class="up_box">
            <img src="../../../../assets/image/up.png" alt="">
            <i>200</i>
          </div>
          <div class="go_to_see">去看看</div>
        </div>
      </div>
    </div>
    <div class="upload_box">
      <div class="file-box">
        <input type="file" class="file-btn"/>
        上传作品
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "allGoods",
    data() {
      return {
        goodsList: [
          {
            title: '十字绣',
            author: '李奶奶',
            price: '￥200',
            up: '2000',
            imgUrl: require('../../../../assets/image/goods1.jpg')
          }, {
            title: '剪纸',
            author: '王爷爷',
            price: '￥200',
            up: '2000',
            imgUrl: require('../../../../assets/image/goods2.jpg')
          }, {
            title: '木雕',
            author: '刘大爷',
            price: '￥400',
            up: '2000',
            imgUrl: require('../../../../assets/image/goods3.jpg')
          }, {
            title: '书法',
            author: '唐爷爷',
            price: '￥400',
            up: '2000',
            imgUrl: require('../../../../assets/image/page15.jpg')
          }, {
            title: '书帖',
            author: '杨大爷',
            price: '￥400',
            up: '2000',
            imgUrl: require('../../../../assets/image/page16.jpg')
          }
        ]
      }
    },
    methods: {
      toPages(path, id) {
        this.$router.push({path: path, query: {id: id}})
      },
    },
    created() {
      const _self = this;
      _self.$axios.post('http://hou.jz-365.com/api/goods/lists', {}).then((res) => {
        console.log(res);
        _self.goodsList = res.data.data.rows;
      }).catch((err) => {
        console.log(err);
      })
    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .goods_list {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .goods_box {
    width: 100%;
    min-height: 200px;
    height: auto;
    display: flex;
    margin-top: 40px;
  }

  .goods_box_left {
    flex: 1.4;
    box-sizing: border-box;
  }

  .goods_box_right {
    flex: 2;
    box-sizing: border-box;
    text-align: left;
    margin-left: 20px;
    position: relative;
  }

  .goods_box_right h4 {
    margin: 0;
    font-size: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
  }

  .goods_box_right span {
    width: 80%;
    font-size: 28px;
    margin: 5px 0;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .goods_box_right p {
    font-size: 28px;
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .goods_box_right .up_box {
    display: inline-block;
    margin-top: 5px;
  }

  .goods_box_right .up_box i {
    float: left;
    font-style: normal;
    font-size: 26px;
    margin-top: 6px;
    margin-left: 10px;
  }

  .go_to_see {
    padding: 10px 20px;
    background: #66B821;
    color: #fff;
    font-size: 28px;
    display: inline-block;
    border-radius: 15px;
    position: absolute;
    right: 10px;
    bottom: 0;
  }

  .upload_box {
    width: 100%;
    height: 150px;
    position: fixed;
    bottom: 110px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 100;
  }

  .file-box {
    display: inline-block;
    position: relative;
    padding: 20px 60px;
    overflow: hidden;
    color: #fff;
    font-size: 30px;
    background-color: #66B821;
    border-radius: 15px;
    margin-right: 190px;
    margin-top: 35px;
    width: 150px;
    font-weight: bold;
  }

  .file-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    outline: none;
    background-color: transparent;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
  }

  .up_box img {
    width: 36px;
    height: 36px;
    float: left;
  }
  .goods_box_left{
    width: 100%;
    height: 200px;
  }
</style>
