<template>
  <div class="container">
    <div class="content">
      <div class="swiper_box">
        <img :src="'http://hou.jz-365.com'+dataList.pics" alt="">
      </div>
      <div class="introduce">
        <div class="goods_title">
          {{dataList.name}}
        </div>
        <div class="price">
          ￥{{dataList.money}}.00
        </div>
        <div class="top_box">
          <div class="up_box">
            <img src="../../../../assets/image/up.png" alt="">
            <span>79人点赞</span>
          </div>
          <div class="like_box">
            <img src="../../../../assets/image/like.png" alt="">
            <span>112人收藏</span>
          </div>
        </div>
        <div class="center_box">
          <div class="deliver">发货</div>
          <div class="address_box">
            <img src="../../../../assets/image/location.png" alt="">
            <span class="span1">青海西宁 | 免邮</span>
            <span class="span2">月销4</span>
          </div>
        </div>
        <div class="evaluate_box">
          <div class="evaluate_title">
            <span class="left_span">宝贝评价(4)</span>
            <img src="../../../../assets/image/goRed.png" alt="">
            <span class="right_span">查看全部</span>
          </div>
          <div class="evaluate_content">
            <div class="evaluate_list" v-for="(item,index) in evaluate">
              <div class="evaluate_top">
                <img :src="item.userHeader" class="user_head_img" alt="">
                <span class="username">{{item.username}}</span>
                <img class="star" src="../../../../assets/image/like.png" v-show="item.star>=1" alt="">
                <img class="star" src="../../../../assets/image/like.png" v-show="item.star>=2" alt="">
                <img class="star" src="../../../../assets/image/like.png" v-show="item.star>=3" alt="">
                <img class="star" src="../../../../assets/image/like.png" v-show="item.star>=4" alt="">
                <img class="star" src="../../../../assets/image/like.png" v-show="item.star>=5" alt="">
              </div>
              <div class="evaluate_text_content">
                {{item.content}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="down">
      <div class="file-box">
        立即购买
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "mountainDetails",
    data() {
      return {
        bannerList: [
          require('../../../../assets/image/banner1.jpg'),
          require('../../../../assets/image/banner2.jpg'),
          require('../../../../assets/image/banner3.jpg')
        ],
        dataList: {
          title: '天好 梅花鹿摆件木雕木质 非洲花梨木雕刻鹿摆件客厅招财风水实木红木工艺礼品',
          price: '￥280.00',
          up: '77',
          like: '100',
        },
        evaluate: [
          {
            username: '李爷爷',
            star: 1,
            content: '东西挺好的,放在屋子里老婆子很喜欢',
            userHeader: require('../../../../assets/image/userHeader3.jpg')
          }, {
            username: '牛奶奶',
            star: 2,
            content: '做工不错',
            userHeader: require('../../../../assets/image/userHeader1.jpg')
          }, {
            username: '张大叔',
            star: 3,
            content: '打个小广告,这东西我也能做,有需要可以联系我',
            userHeader: require('../../../../assets/image/userHeader4.jpg')
          }, {
            username: '唐奶奶',
            star: 4,
            content: '好漂亮啊,精致极了,喜欢',
            userHeader: require('../../../../assets/image/userHeader2.jpg')
          }
        ],
        info_id: ''
      }
    },
    created() {
      const _self = this;
      _self.info_id = _self.$route.query.id;
      _self.$axios.post('http://hou.jz-365.com/api/goods/getInfo', {id: _self.info_id}).then((res) => {
        console.log(res);
        _self.dataList = res.data.data;
      }).catch((err) => {
        console.log(err);
      })
    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: 100%;
    padding: 88px 0 110px 0;
    box-sizing: border-box;
  }

  .content {
    width: 100%;
    height: auto;
    padding-bottom: 210px;
  }

  .swiper_box {
    width: 100%;
  }

  .swiper_box img {
    width: 100%;
    height: 100%;
  }

  .introduce {
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }

  .goods_title {
    padding: 20px 30px;
    box-sizing: border-box;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }

  .price {
    text-align: left;
    color: red;
    font-size: 28px;
    padding: 20px 30px;
    box-sizing: border-box;
  }

  .top_box {
    display: table;
    padding: 20px 30px;
    box-sizing: border-box;
  }

  .up_box {
    float: left;
  }

  .up_box span {
    float: left;
    margin-top: 8px;
    font-size: 30px;
    margin-left: 10px;
    color: grey;
  }

  .like_box {
    float: left;
    margin-left: 30px;
  }

  .like_box span {
    float: left;
    margin-top: 8px;
    font-size: 30px;
    margin-left: 10px;
    color: grey;
  }

  .center_box {
    width: 100%;
    height: auto;
    display: table;
    padding: 20px 30px;
    box-sizing: border-box;
  }

  .deliver {
    float: left;
    font-size: 26px;
    color: gray;
  }

  .address_box {
    margin-left: 20px;

  }

  .span1 {
    float: left;
    margin-left: 20px;
  }

  .span2 {
    float: right;
    color: gray;
  }

  .evaluate_title {
    display: table;
    width: 100%;
    margin-top: 30px;
    padding: 20px 30px;
    box-sizing: border-box;
  }

  .evaluate_box {
    width: 100%;
    padding-bottom: 100px;
    box-sizing: border-box;
  }

  .left_span {
    float: left;
  }

  .right_span {
    float: right;
    color: red;
    margin-right: 10px;
  }

  .evaluate_top {
    display: table;
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
  }

  .username {
    float: left;
    margin-top: 20px;
    font-size: 28px;
    margin-left: 10px;
  }

  .evaluate_content {
    width: 100%;
    height: auto;
    text-align: left;
  }

  .evaluate_list {
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 30px;
  }

  .evaluate_list .star {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
  }

  .evaluate_text_content {
    text-align: left;
    font-size: 28px;
    margin-top: 10px;
    padding: 20px 30px;
    box-sizing: border-box;
  }

  .down {
    width: 100%;
    height: 150px;
    position: fixed;
    bottom: 110px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 100;
  }

  .file-box {
    display: inline-block;
    position: relative;
    padding: 20px 50px;
    overflow: hidden;
    font-size: 32px;
    width: 180px;
    color: #fff;
    background-color: #66B821;
    border-radius: 15px;
    margin: 30px auto;
  }

  .up_box img {
    width: 40px;
    height: 40px;
    float: left;
  }

  .like_box img {
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 4px;
  }

  .address_box img {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 20px;
  }

  .left_span img {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 6px;
  }

  .user_head_img {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    float: left;
  }
  .evaluate_title img{
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 2px;
  }
</style>
