<!--常青乐园 社区沙龙详情-->
<template>
  <div class="container">
    <div class="content">
      <div class="banner_box">
        <img :src="'http://hou.jz-365.com'+dataList.salon_image" alt="">
      </div>
      <div class="introduce">
        <div class="introduce_title">{{dataList.salon_title}}</div>
       <div class="introduce_content" v-html="dataList.salon_info"></div>
      </div>
    </div>
    <div class="down">
      <div class="file-box">
        报名
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "communityDetails",
    data() {
      return {
        dataList:'',
        info_id:''
      }
    },
    created(){
      const _self=this;
      _self.info_id=_self.$route.query.id;
      _self.$axios.post('http://hou.jz-365.com/api/salon/getInfo',{
        salon_id:_self.info_id
      }).then((res)=>{
        console.log(res);
        _self.dataList=res.data.data;
      }).catch((err)=>{
        console.log(err);
      })
    },
    mounted() {
    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
  }

  .content {
    width: 100%;
    height: auto;
    padding: 20px 20px 150px 20px;
    box-sizing: border-box;
  }

  .banner_box {
    width: 100%;
    height: 300px;
  }

  .introduce {
    width: 100%;
    text-align: left;
    font-size: 28px;
  }
  .introduce_title{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
  }
  .introduce_content{
    margin-top: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .down {
    width: 100%;
    height: 150px;
    position: fixed;
    bottom: 110px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 100;
  }

  .file-box {
    display: inline-block;
    position: relative;
    padding: 20px 60px;
    overflow: hidden;
    font-size: 32px;
    color: #fff;
    background-color: #66B821;
    border-radius: 15px;
    margin-right: 190px;
    margin-top: 30px;
    font-weight: bold;
    width: 150px;
  }
</style>
