<!--常青乐园 社区沙龙-->
<template>
  <div class="container">
    <div class="content">
      <div class="list_box" v-for="(item,index) in dataList" :key="index" @click="toPages('/classroom/communityDetails',item.salon_id)">
        <div class="img_box">
          <img :src="'http://hou.jz-365.com'+item.salon_image"  alt="">
          <div class="title_box">{{item.salon_title}}</div>
          <div class="date_box">报名时间:{{item.salon_sarttime_text}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "community",
    data(){
      return{
        dataList:[]
      }
    },
    methods:{
      toPages(path,id){
        this.$router.push({path:path,query:{id:id}})
      }
    },
    created() {
      const _self=this;
      _self.$axios.post('http://hou.jz-365.com/api/salon/lists',{}).then((res)=>{
        console.log(res);
        _self.dataList=res.data.data.rows;
      }).catch((err)=>{
        console.log(err);
      })
    }
  }
</script>

<style scoped>
  .container{
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .content{
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
  }
  .list_box{
    width: 100%;
    min-height: 380px;
    height: auto;
    margin-top: 20px;
  }
  .title_box{
    text-align: center;
    font-size: 32px;
    /*width: 100%;*/
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
  }
  .date_box{
    font-size: 32px;
  }
  .img_box img {
    width: 100%;
    height: 300px;
  }
</style>
