<!--常青乐园 在线课程详情-->
<template>
  <div class="container">
    <div class="content">
      <div class="banner_box">
        <img src="../../../../assets/image/page11.jpg" alt="">
      </div>
      <div class="introduce">
        <div class="introduce_title">书法课程报名</div>
        <div>学习时间:2019-6.1-2019-9-1</div>
        <div>学习地址:各个社区组织</div>
        <div>注意事项:请带上相关工具(笔墨纸砚等)</div>
      </div>
    </div>
    <div class="down">
      <div class="file-box">
        报名
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "enrollDetails",
    data() {
      return {
        dataList:'',
        info_id:''
      }
    },
    created() {
      const _self=this;
      _self.info_id=_self.$route.query.id;
      _self.$axios.post('http://hou.jz-365.com/api/bmcourse/getInfo',{
        bm_id:_self.info_id
      }).then((res)=>{
        console.log(res);
      }).catch((err)=>{
        console.log(err);
      })
    },
    mounted() {

    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
  }

  .content {
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
  }

  .banner_box {
    width: 100%;
    height: 300px;
  }

  .introduce {
    width: 100%;
    text-align: left;
    font-size: 28px;
  }
  .introduce_title{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
  }
  .down {
    width: 100%;
    height: 200px;
    position: fixed;
    bottom: 110px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 100;
  }

  .file-box {
    display: inline-block;
    position: relative;
    padding: 20px 80px;
    overflow: hidden;
    font-size: 36px;
    color: #fff;
    background-color: #66B821;
    border-radius: 15px;
    margin-right: 190px;
    margin-top: 50px;
  }
</style>
