<!--常青乐园 课程报名-->
<template>
  <div class="container">
    <div class="content">
      <div class="banner">
        <img src="../../../../assets/image/banner25.jpg" alt="">
      </div>
      <div class="list_box" v-for="(item,index) in dataList" :key="index" @click="toPages('/classroom/enrollDetails',item.bm_id)">
        <div class="title">{{item.bm_title}}</div>
        <div class="sub_btn">预&nbsp;&nbsp;&nbsp;约</div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "enroll",
    data(){
      return{
        dataList:[],
      }
    },
    methods:{
      toPages(path,id){
        this.$router.push({path:path,query:{id:id}})
      }
    },
    created() {
      const _self=this;
      _self.$axios.post('http://hou.jz-365.com/api/bmcourse/lists',{}).then((res)=>{
        console.log(res);
        _self.dataList=res.data.data.rows;
      }).catch((err)=>{
        console.log(err);
      })
    }
  }
</script>

<style scoped>
  .container{
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .content{
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
  }
  .banner {
    width: 100%;
    height: 300px;
    padding: 20px;
    box-sizing: border-box
  }
  .list_box{
    width: 100%;
    min-height: 100px;
    height: auto;
    margin-top: 20px;
    border-bottom: 1px solid grey;/*no*/
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .title{
    text-align: left;
    font-size: 32px;
    width: 300px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    float: left;
    margin-top: 20px;
  }
  .sub_btn{
    float: right;
    padding: 10px 30px;
    color: #fff;
    background: #66B821;
    margin-top:15px;
    border-radius: 10px;
    width: 70px;
  }
  .img_box img {
    width: 100%;
    height: 300px;
  }
</style>
