<!--常青乐园 在线课堂-->
<template>
    <div class="container">
      <div class="content">
        <div class="calligraphy" @click="toPages('calligraphy')"><p>书法</p></div>
        <div class="dance" @click="toPages('dance')"><p>舞蹈</p></div>
        <div class="handicraft" @click="toPages('handicraft')"><p>手工艺</p></div>
        <div class="digital" @click="toPages('digital')"><p>数码应用</p></div>
      </div>
    </div>
</template>

<script>
    export default {
        name: "onlineClass",
      data(){
          return{

          }
      },
      methods:{
          toPages(path){
            this.$router.push({path:'/onlineRoom',query:{path:path}})
          }
      }
    }
</script>

<style scoped>
  .container{
    width: 100%;
    height:100%;
  }
  .content{
    width:100%;
    height: 100%;
  }
  .content div p{
    width: 250px;
    padding: 30px 0;
    border-radius: 10px;
    background-color: #66B821;
    color: #fff;
    display: inline-block;
    margin: 60px 0;
    font-size: 32px;
    font-weight: bold;
  }
</style>
