<!--常青乐园 我是老师-->
<template>
  <div class="container">
    <div class="content">
      <form class="speciality_form" action="" method="get">
        <h4>您的特长:</h4>
        <div class="check_box">
        <p><label><input name="speciality" type="checkbox" value="" /><span>书法</span></label></p>
        <p><label><input name="speciality" type="checkbox" value="" /><span>美术</span></label></p>
        <p><label><input name="speciality" type="checkbox" value="" /><span>舞蹈</span></label></p>
        <p><label><input name="speciality" type="checkbox" value="" /><span>戏曲</span></label></p>
        <p><label><input name="speciality" type="checkbox" value="" /><span>乐器</span></label></p>
        <p><label><input name="speciality" type="checkbox" value="" /><span>运动</span></label></p>
        </div>
        <h3>如果您具备等级证明,请上传资料</h3>
        <div class="sub_btn">
          <p>上传资料</p>
          <input type="file" >
        </div>
      </form>
      <div class="deep_box">
        <div class="sub">报 名</div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "teacher",
    data() {
      return {
        list: [
          {
            imgUrl: require('../../../../assets/image/teacherHead.png'),
            name: '陈德艺',
            sex: '男',
            age: '62岁',
            introduce: '书法爱好30年,曾经获得金鹰大赛个人组一等奖,愿结交志同道合之人共同学习'
          }, {
            imgUrl: require('../../../../assets/image/teacherHead2.png'),
            name: '彭力',
            sex: '男',
            age: '71岁',
            introduce: '六岁即开始学习象棋，多次参加省内棋类比赛、市内综合运动会等，获得多次冠军。'
          }, {
            imgUrl: require('../../../../assets/image/teacherHead1.png'),
            name: '刘芳',
            sex: '女',
            age: '64岁',
            introduce: '从事舞蹈教学工作逾十年，敬业乐业，教学规范严谨，注重团队协作，培养的学生在全国、省、市及国际舞蹈比赛中均获得优秀成绩'
          }
        ]
      }
    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .content {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
  }
  .speciality_form h4{
    font-size: 36px;
    text-align: left;
    margin: 20px 0 20px 80px;
  }
  .speciality_form p{
    font-size:30px;
    text-align: left;
    margin: 20px 0 20px 80px;

  }
  .check_box p{
    position: relative;
  }
  .check_box span{
    position: absolute;
    left: 80px;
    top: 5px;
  }
  .speciality_form h3{
    text-align: left;
    padding: 80px 0 20px 80px;
    box-sizing: border-box;
    font-size: 28px;
    font-weight: normal;
  }
  .sub_btn{
    position: relative;
    display: inline-block;
    /*margin-top: 20px;*/
  }
  .sub_btn p{
    display: inline-block;
    width: 200px;
    padding: 10px 60px;
    background-color:#64A62B;
    text-align: center;
    color: white;
    border-radius:15px;
    margin: auto 0;
    font-weight: bold;
    font-size: 36px;
  }
  .sub_btn input{
    width: 200px;
    padding: 10px 60px;
    position: absolute;
    left:0;
    top: 0;
    opacity:0;
  }
  .deep_box{
    border-top: 2px solid grey;
    margin-top: 60px;
  }
  .sub{
    display: inline-block;
    width: 200px;
    padding: 20px 60px;
    background-color:#64A62B;
    text-align: center;
    color: white;
    border-radius:15px;
    margin: 100px 0 auto 0;
    font-weight: bold;
    font-size: 36px;
  }
  input[type="checkbox"]{
    -webkit-appearance: none;
    vertical-align:middle;
    margin-top:0;
    background:#fff;
    border-radius: 3px;
    min-height: 40px;
    min-width: 40px;
    outline: none;
    border:1px solid gainsboro;/*no*/
  }
  input[type="checkbox"]:checked {
    background: url("../../../../assets/image/checkbox_icon.png") no-repeat center;
    background-size:38px 38px;
  }
</style>
