<script>
  export default {
    name: 'App',
    onLaunch() {
      //ios 禁止手指缩放
      window.onload = function() {
        document.addEventListener('touchstart', function(event) {
          if (event.touches.length > 1) {
            event.preventDefault()
          }
        });
        document.addEventListener('gesturestart', function(event) {
          event.preventDefault()
        })
      };
    }
  }
</script>

<style>

  body {
    padding: 0;
    margin: 0;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 0;
    padding: 0;
  }

  html, body, #app {
    height: 100%;
    /*overflow: hidden;*/

  }
  a, a:hover, a:active, a:visited, a:link, a:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
    background: none;
    text-decoration: none;
  }
  img{
    width: 100%;
    height: 100%;
  }
</style>
