<!--惠老福利 免费体检详情-->
<template>
  <div class="container">
    <div class="content">
      <div class="banner_box">
        <img :src="'http://hou.jz-365.com'+dataList.hl_image" alt="">
      </div>
      <div class="introduce" v-html="dataList.hl_content">

      </div>
    </div>
    <div class="down">
      <div class="file-box">
        报名
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "activityDetails",
    data() {
      return {
        dataList:'',
        info_id:''
      }
    },
    created() {
      const _self=this;
      _self.info_id=_self.$route.query.id;
      _self.$axios.post('http://hou.jz-365.com/api/hlactivity/getInfo',{
        hl_id:_self.info_id
      }).then((res)=>{
        console.log(res);
        _self.dataList=res.data.data;
      }).catch((err)=>{
        console.log(err);
      })
    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
  }

  .content {
    width: 100%;
    height: auto;
    padding: 20px 20px 160px 20px;
    box-sizing: border-box;
  }

  .banner_box {
    width: 100%;
    height: 300px;
  }

  .introduce {
    width: 100%;
    text-align: left;
    font-size: 28px;
  }

  .address span {
    float: left;
    margin-top: 10px;
    color: grey;
  }

  .down {
    width: 100%;
    height: 150px;
    position: fixed;
    bottom: 110px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 100;
  }

  .file-box {
    display: inline-block;
    position: relative;
    padding: 20px 60px;
    overflow: hidden;
    font-size: 32px;
    color: #fff;
    background-color: #66B821;
    border-radius: 15px;
    margin-right: 190px;
    margin-top: 30px;
    width: 150px;
    font-weight: bold;
  }
</style>
