<!--惠老福利 惠老活动-->
<template>
  <div class="container">
    <div class="content">
      <div class="list_box" v-for="(item,index) in dataList" :key="index" @click="toPages('/welfare/activityDetails',item.hl_id)">
        <div class="img_box">
          <img :src="'http://hou.jz-365.com'+item.hl_image" alt="">
          <div class="title_box">{{item.hl_title}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "activity",
    data(){
      return{
        dataList:[
          {
            imgUrl:require('../../../../assets/image/page5.jpg'),
            title:'登山活动'
          },{
            imgUrl:require('../../../../assets/image/page6.jpg'),
            title:'摄影比赛'
          },{
            imgUrl:require('../../../../assets/image/page7.jpg'),
            title:'歌唱比赛'
          },{
            imgUrl:require('../../../../assets/image/page5.jpg'),
            title:'舞蹈比赛'
          },
        ]
      }
    },
    methods:{
      toPages(path,id){
        this.$router.push({path:path,query:{id:id}})
      }
    },
    created(){
      const _self=this;
      _self.$axios.post('http://hou.jz-365.com/api/hlactivity/lists',{}).then((res)=>{
        console.log(res);
        _self.dataList=res.data.data.rows;
      }).catch((err)=>{
        console.log(err);
      })
    }
  }
</script>

<style scoped>
  .container{
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .content{
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .list_box{
    width: 100%;
    min-height: 350px;
    height: auto;
    margin-top: 20px;
  }
  .title_box{
    text-align: left;
    font-size: 28px;
  }
  .img_box img{
    width: 100%;
    height: 300px;
  }
</style>
