<!--惠老福利 民政福利-->
<template>
    <div class="container">
      <div class="content">
        <div class="header_logo">
          <img src="../../../../assets/image/mz_logo.jpg" style="width: 100%;height: 100%;" alt="">
        </div>
        <div class="user_box">
          <p>{{userInfo.name}}</p>
          <p>{{userInfo.card}}</p>
          <p>{{userInfo.address}}</p>
          <p>{{userInfo.thisMonthState}}</p>
          <p>发放社工: {{userInfo.worker}}</p>
          <p>发放时间: {{userInfo.grantTime}}</p>
          <p>福利领取历史</p>
          <p v-for="(item,index) in userInfo.drawRecord" :key="index">{{item}}</p>
        </div>
      </div>
      <div class="down">
        <h4 class="file-box">
          意见反馈
        </h4>
      </div>
    </div>
</template>

<script>
    export default {
        name: "civilAdministration",
      data(){
          return{
            userInfo:{
              name:'张三',
              card:'63010219570607113X',
              address:'西宁市贾小庄社区',
              thisMonthState:'2019年10月福利领取',
              worker:'李四',
              grantTime:'2019年10月2日',
              drawRecord:[
                '2019年10月',
                '2019年9月',
                '2019年8月',
                '2019年7月',
                '2019年6月',
                '2019年5月',
                '2019年4月',
              ]
            }
          }
      },

    }
</script>

<style scoped>
  .container{
    width:100%;
    height: auto;
    padding: 0;
  }
  .content{
    padding: 20px 50px;
  }
  .header_logo{
    width: 60%;
    height: 340px;
    margin: 0 auto;
  }
  .user_box{
    width: 100%;
    text-align: left;
  }
  .user_box p{
    font-size: 30px;
    display: inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:450px;
    margin: 15px 0;
  }
  .down{
    width: 100%;
    height: 150px;
    position: fixed;
    bottom:110px;
    box-sizing: border-box;
    background-color:#fff;
    z-index: 100;
  }
  .file-box{
    display: inline-block;
    position: relative;
    padding:20px 60px;
    overflow: hidden;
    color:#fff;
    background-color: #66B821;
    border-radius: 15px;
    margin-right: 190px;
    margin-top: 50px;
    font-size: 30px;
    width: 150px;
  }
</style>
