<!--惠老福利 免费体检详情-->
<template>
    <div class="container">
      <div class="content">
        <div class="banner_box">
          <img src="../../../../assets/image/page2.png" alt="">
        </div>
        <div class="introduce">
          西宁市第一人民医院始建于1946年,是一所集医疗、教学、科研及医疗保健为一体的综合性三级甲等医院
        </div>
        <div class="address">
          <img src="../../../../assets/image/location.png" style="width: 20px;height: 20px;float: left;" alt="">
          <span>青海省西宁市城中区互助巷3号</span>
        </div>
      </div>
      <div class="down">
        <div class="file-box">
          报&nbsp;&nbsp;&nbsp;名
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        name: "freeTestDetails",
      data(){
          return{}
      },
      mounted() {
      }
    }
</script>

<style scoped>
  .container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
  }
  .content{
    width: 100%;
    height: auto;
    padding:20px;
    box-sizing: border-box;
  }
  .banner_box{
    width: 100%;
    height: 300px;
  }
  .introduce{
    width: 100%;
    text-align: left;
    font-size: 28px;
  }
  .address{
    width: 100%;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    text-align: left;
    margin-top: 20px;
  }
  .address span{
    float: left;
    margin-top: 10px;
    color: grey;
  }
  .down{
    width: 100%;
    height: 150px;
    position: fixed;
    bottom:110px;
    box-sizing: border-box;
    background-color:#fff;
    z-index: 100;
  }
  .file-box{
    display: inline-block;
    position: relative;
    padding: 20px 60px;
    overflow: hidden;
    font-size: 30px;
    color: #fff;
    background-color: #66B821;
    border-radius: 15px;
    margin-right: 190px;
    margin-top: 50px;
    width: 150px;
    font-weight: bold;
  }
</style>
