<!--惠老福利 免费体检-->
<template>
  <div class="container">
    <div class="content">
      <div class="banner_box">
        <img src="../../../../assets/image/page21.jpg" alt="">
      </div>
      <div class="introduce">
        <p>
          贵德颐养照顾中心（以下简称中心）是由青海福博大投资集团有限公司控股投资建设运营的国家级养老养生示范基地项目，项目规划用地59177.03平方米（约合88.7亩），总建筑面积27665.65平方米，计划于2019年6月竣工验收并投入运营。</p>
        <p>
          中心以氧吧公园式社区+智能养老公寓为平台，植入面向社会的专家门诊、健康体检，非遗藏医药浴、康复理疗、并与上海允英医疗科技有限公司（液体活检技术领先企业）合作成立青海允英医学检测有限公司，引进尖端人才和专利技术在中心设立省内首个肿瘤基因检测专项实验室，配套以寄宿制“贵德老年大学”，致力于打造青海省首家“3+N”医养学结合的智慧养老综合体。</p>
        <p>
          为积极贯彻国家养老服务“医养结合”和“互联网+大健康”的发展方向，体现医疗在养老产业中的重要作用，中心内专设一栋建筑面积6500平方米的独立建筑作为养老配套并对社会开放的综合性医检中心。医检中心内部结合通透式花园景观并采用医检分区，由五大业务板块：专家门诊、健康体检、藏医药浴、康复理疗、肿瘤基因检测（液体活检技术）专项实验室等组成。中心与青海省人民医院、青海大学附属医院、青海省肿瘤医院、青海省藏医院等省内三级甲等医院建立绿色通道，中心内常设专业级救护车，保障“医养结合”理念的落实。医检中心陆续开通省级、州级医保通道，并辐射服务省会西宁市，开通西宁市医保通道。</p>
        <p>
          专家门诊：中心下设“贵德颐养社区卫生服务中心”，设置急诊科、预防保健科、口腔科、内科、外科、中医科、妇科等常规科室。采用国际领先专业器材设备，聘请签约省内知名医学专家循环式预约坐诊，优先服务于中心内需求的前提下，通过自主新媒体和互联网终端应用等渠道面向社会开放公告和预约制挂号，保证门诊秩序和流量。</p>
        <p>
          健康体检：医检中心采用医检分离健康模式，引进国外知名品牌包含但不仅限于DR胸透、无痛电子胃肠镜等高精尖的专业体检设备，拥有独立的医学检验实验室，依托专业强大的专业医护团队，设置10余套针对不同人群的个性化体检套餐，通过O2O模式向需求人群提供医检分离、男女分区、VIP专属、营养早餐等领先型健康体检服务。中心利用先进的智能物联，结合健康大数据和丰富的医师资源，通过健康数据经营、运动管理、慢病管理、血压管理、血糖管理、血脂管理等服务形式，真正落地了O2O健康管理，以干预为主的移动健康管理模式，全天24小时无缝为企业和个人需求提供全方位健康解决方案。</p>
        <p>藏医药浴：中心内专设藏医诊室和多间专业级且具有民族风格的藏医药浴间，聘请联合国教科文组织人类非物质文化遗产青海地区传承人安尔建先生（青海省藏医院药浴科主任医师）主持设计藏医药浴区域空间并提供保密级医用配方指导。</p>
        <p>
          康复理疗：为服务于中心内老年人康复需求，医检中心专设老年康复理疗区域，拥有神经康复、脊髓损伤康复、骨与骨关节康复、神经泌尿康复和传统医学康复等多个优势专业科室。综合康复治疗手段包括运动疗法、作业疗法、语言治疗、文体治疗、水疗、物理因子治疗、心理治疗、音乐治疗、社会康复、假肢矫形、中医治疗、教育康复等。</p>
        <p>
          肿瘤基因检测实验室：按照GMP标准与医检中心其他板块隔离建设建筑面积近800平方米青海省首家肿瘤基因检测专业Illumina测序和PCR（基因增扩）综合基因检测实验室。实验室设备均采用国际专业内领先品牌型号，允英医疗科技创始人张道允博士对青海省肿瘤难题突破和中心项目非常重视，因此实验研发团队由上海允英医疗科技有限公司和嘉兴允英医学检验有限公司核心骨干技术人才入驻，保障中心实验室技术水平同步领先于国内同行业。实验室的设立在服务于医检中心检测业务的基础上，重点为肿瘤基因检测（液体活检技术）的技术突破和服务于全省肿瘤检测需求服务，致力于提升青海省区域内肿瘤检测、预防、治疗等多方面的综合水平，造福社会。</p>
      </div>
      <div class="address">
        <img src="../../../../assets/image/location.png" alt="">
        <span>青海省海南州贵德县迎宾东路</span>
      </div>
    </div>
    <div class="down">
      <div class="file-box">
        报&nbsp;&nbsp;&nbsp;名
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "freeTest",
    data() {
      return {}
    },
    mounted() {
    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
  }

  .content {
    width: 100%;
    height: auto;
    padding: 20px 20px 160px 20px;
    box-sizing: border-box;
  }

  .banner_box {
    width: 100%;
    height: 300px;
  }

  .introduce {
    width: 100%;
    text-align: left;
    font-size: 28px;
  }

  .introduce p {
    line-height: 1.8;
  }

  .address {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    margin-top: 20px;
  }

  .address span {
    float: left;
    margin-top: 10px;
    color: grey;
  }

  .down {
    width: 100%;
    height: 150px;
    position: fixed;
    bottom: 110px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 100;
  }

  .file-box {
    display: inline-block;
    position: relative;
    padding: 20px 60px;
    overflow: hidden;
    font-size: 30px;
    color: #fff;
    background-color: #66B821;
    border-radius: 15px;
    margin-right: 190px;
    margin-top: 30px;
    width: 150px;
    font-weight: bold;
  }

  .address img {
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 6px;
  }
</style>
