<!--惠老福利 长者就业详情页-->
<template>
  <div class="container">
    <div class="content">
      <div class="position_box">
        <div class="position">{{dataList.jy_title}}</div>
        <div class="salary">{{dataList.jy_money}}</div>
      </div>
      <!--        <div class="describe">诚聘服务员</div>-->
      <div class="demand">
        <div>招20人</div>
        <div>学历不限</div>
        <div>经历不限</div>
      </div>
      <div class="address">
        <img src="../../../../assets/image/location.png" alt="">
        <span>{{dataList.jy_city}}</span>
        <a href="#">查看地图</a>
      </div>
      <!--        <div class="address_explicit">-->
      <!--          <span>{{dataList.jy_address}}</span>-->

      <!--        </div>-->
      <div class="btn_box">
        <div class="apply_btn">申请职位</div>
<!--        <img src="../../../assets/image/phone.png" class="phone" alt="">-->
      </div>
      <div class="position_describe">
        <div class="position_title">职位描述:</div>
        <div class="position_content" v-html="dataList.jy_content">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "obtainEmploymentDetails",
    data() {
      return {
        dataList: '',
        info_id: ''
      }
    },
    created() {
      const _self = this;
      _self.info_id = _self.$route.query.id;
      _self.$axios.post("http://hou.jz-365.com/api/olderjob/getInfo", {
        jy_id: _self.info_id
      }).then((res) => {
        console.log(res);
        _self.dataList = res.data.data;
      }).catch((err) => {
        console.log(err);
      })
    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .content {
    width: 100%;
    height: auto;
    padding: 40px 30px;
  }

  .position {
    float: left;
    font-size: 32px;
    margin-top: -6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 220px;
    font-weight: bold;
    text-align: left;
  }

  .salary {
    float: right;
    font-size: 32px;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    color: red;
  }

  .describe {
    font-size: 32px;
    width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    text-align: left;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .demand {
    margin-top: 60px;
  }

  .demand div {
    border-right: 1px solid grey; /*no*/
    float: left;
    margin: 10px 0 10px 15px;
    padding-right: 15px;
    color: grey;
  }

  .demand div:nth-last-child(1) {
    border: none;
  }

  .demand div:nth-last-child(3) {
    margin: 10px 0;
  }

  .address {
    clear: both;
    text-align: left;
  }

  .address a {
    color: #66B821;
    float: right;
    margin-top: 15px;
  }

  .btn_box {
    text-align: left;
    margin-top: 20px;
  }

  .apply_btn {
    padding: 18px 50px;
    background-color: #66B821;
    /*display: inline-block;*/
    color: #fff;
    border-radius: 10px;
    float: left;
  }

  .position_describe {
    clear: both;
    text-align: left;
    font-size: 32px;
    margin-top: 130px;
  }

  .address img {
    width: 40px;
    height: 40px;
  }

  .btn_box img {
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 50px;
  }
</style>
