<!--惠老福利 长者就业-->
<template>
  <div class="container">
    <div class="list">
      <div class="list_box" v-for="(item,index) in dataList" :key="index" @click="toPages('/welfare/obtainEmploymentDetails',item.jy_id)">
        <div class="position_box">
          <div class="position">{{item.jy_title}}</div>
          <div class="salary">{{item.jy_money}}</div>
        </div>
        <div class="company">{{item.jy_company}}</div>
        <div class="address"><span>{{item.jy_city}}</span></div>
        <div class="contacts"><span>{{item.jy_linker}}</span></div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "obtainEmployment",
    data() {
      return {
        dataList: []
      }
    },
    methods:{
      toPages(path,id){
        this.$router.push({path:path,query:{id:id}})
      }
    },
    created() {
      const _self=this;
      _self.$axios.post('http://hou.jz-365.com/api/olderjob/lists',{}).then((res)=>{
        console.log(res.data.data.rows);
        _self.dataList=res.data.data.rows;

      }).catch((err)=>{
        console.log(err);
      })
    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .list {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .list_box {
    width: 100%;
    min-height: 200px;
    height: auto;
    box-sizing: border-box;
    border-bottom: 1px solid grey; /*no*/
    text-align: left;
    margin-top: 30px;
    padding: 30px 0;
  }
  .position_box {
    display: table;
    width: 100%;
  }

  .position {
    float: left;
    font-size: 32px;
    margin-top: -6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 251px;
  }

  .salary {
    float: right;
    font-size: 32px;
    width: 251px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    color: red;
  }

  .company {
    font-size: 30px;
    width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
  }

  .address {
    font-size: 24px;
    width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: grey;
    margin-top: 5px;
    font-weight: normal;
  }

  .contacts {
    font-size: 32px;
    width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px;
  }
</style>
