<template>
  <div class="container">
    <my-header></my-header>
    <div class="content">
      <div id="echart1" :style="{width: '100%', height: '300px'}"></div>
      <div id="echart2" :style="{width: '100%', height: '300px'}"></div>
      <div id="echart3" :style="{width: '100%', height: '300px'}"></div>
      <div id="echart4" :style="{width: '100%', height: '300px'}"></div>
    </div>
    <my-footer></my-footer>
  </div>
</template>

<script>
  // 引入柱状图组件
  // require('_echarts@4.2.1@echarts/lib/chart/bar');
  // 主模块
  let echarts = require('echarts');
  // 散点图
  // require('_echarts@4.2.1@echarts/lib/chart/scatter');
  // // 散点图放大
  // require('_echarts@4.2.1@echarts/lib/chart/effectScatter');
  // // 地图
  // require('_echarts@4.2.1@echarts/lib/chart/map');
  // // 图例
  // require('_echarts@4.2.1@echarts/lib/component/legend');
  // // 提示框
  // require('_echarts@4.2.1@echarts/lib/component/tooltip');
  // // 地图geo
  // require('_echarts@4.2.1@echarts/lib/component/geo');
  // // 中国地图JS文件
  // require('_echarts@4.2.1@echarts/map/js/province/qinghai');
  // require('_echarts@4.2.1@echarts/lib/component/tooltip');
  // require('_echarts@4.2.1@echarts/lib/component/title');
  export default {
    name: "survey",
    data() {
      return {
        dom1:null,
        dom2:null,
        dom3:null,
        option2:[333,444,555,200],
        option3:[422,444,125,321],
        option4:[122,344,125,321],
        dataInfo:'青海省',
      }
    },
    mounted() {
      let _self=this;
      _self.drawLine();
      _self.drawLine1();
      _self.drawLine2();
      _self.mapEcharts();
    },
    watch:{
        option2(val, oldVal) {
          this.drawLine();
        },
        option3(val, oldVal) {
          this.drawLine1();
        },
        option4(val, oldVal) {
          this.drawLine2();
        }
    },
    methods: {
      mapEcharts() {
        let _self=this;
        let myChart1 = echarts.init(document.getElementById('echart1'));
        // mapChart的配置
        myChart1.setOption({
          backgroundColor: '#f0f0f0',
          // 标题
          title: {
            text: '青海省 互联网+养老',
            left: 'center',
            textStyle: {
              color: '#000'
            }
          },
          // 地图上圆点的提示
          tooltip : {
            trigger: 'item',
            formatter: "老年人口分布 <br/>{b} : {c} "
          },
          // 图例按钮 点击可选择哪些不显示
          legend: {
            orient: 'vertical',
            x:'left',
            data:['老年人口分布'],
            show:false,
            textStyle:{
              color:'black'
            }
          },
          // 地理坐标系组件
          geo: {
            map: '青海',
            label: {
              // true会显示城市名
              emphasis: {
                show: true
              }
            },
            itemStyle: {
              // 地图背景色
              normal: {
                areaColor: '#32BD43',
                borderColor: '#ffffff'
              },
              // 悬浮时
              emphasis: {
                areaColor: '#FFDF33'
              }
            }
          },
          // 系列列表
          series: [
            {
              name: '老年人口分布',
              type: 'map',
              mapType: "青海",
              roam: false,
              mapLocation:{
                y:'10px'
              },//设置地图距离
              itemStyle:{
                normal:{
                  label:{show:false},
                  borderWidth: 1,
                  areaColor: '#66B821',
                  borderColor: '#ffffff',
                  color :'transparent'
                },
                emphasis:{
                  label:{show:false},
                  areaColor:' #99CF16',
                  areaStyle:{color:' #99CF16'}
                }
              },
              data:[{"name":"西宁市","value":20000,selected:true},{"name":"海东市","value":1100},{"name":"海北藏族自治州","value":300},{"name":"黄南藏族自治州","value":600},{"name":"海南藏族自治州","value":800},{"name":"果洛藏族自治州","value":2300},{"name":"玉树藏族自治州","value":4200},{"name":"海西蒙古族藏族自治州","value":6200}]
            }
          ]
        });
        window.onresize = myChart1.resize;
        myChart1.on('click',function(params){
          _self.dataInfo=params.name;
          _self.$axios.post('http://hou.jz-365.com/api/map/getdata',{
            'name':params.name
          }).then((res)=>{
            // console.log(res);
            _self.option2=res.data.option2;
            _self.option3=res.data.option3;
            _self.option4=res.data.option4;
            // console.log(_self.option4);
          }).catch((err)=>{
            console.log(err);
          })
        })
      },
      drawLine(data) {
        let _self=this;
        // 基于准备好的dom，初始化echarts实例
        _self.dom1 = echarts.init(document.getElementById('echart2'));
        // 绘制图表
        _self.setOptions2(_self.dataInfo,_self.option2);
        window.onresize = this.dom1.resize;
      },
      drawLine1(data) {
        let _self=this;
        // 基于准备好的dom，初始化echarts实例
        _self.dom2 = echarts.init(document.getElementById('echart3'));
        // 绘制图表
        _self.setOptions3(_self.dataInfo,_self.option3);
        window.onresize = this.dom2.resize;
      },
      drawLine2(data) {
        let _self=this;
        // 基于准备好的dom，初始化echarts实例
        _self.dom3 = echarts.init(document.getElementById('echart4'));
        // 绘制图表
        _self.setOptions4(_self.dataInfo,_self.option4);
        window.onresize = this.dom3.resize;
      },
      setOptions2(params,option) {
        // console.log(22222,this.chart,series);
        this.dom1.setOption({
          title : {
            text: '',
            subtext: '',
            x: 'center',
            y: 'top'
          },
          tooltip : {
            trigger: 'axis',
            formatter: "{a0}:{c0}"
          },
          legend: {
            data:[params+'老人年龄'],
            // x:'center',
            // y:20,
            // itemHeight:'15',
            // show : true
          },
          grid:{
            y:30,
            x2:60,
            y2:35
          },
          toolbox: {
            show : false
          },
          calculable : false,
          xAxisIndex:1,
          yAxisIndex:1,
          color: ['#fe8057', '#c0504d','#9bbb59','#8064a2'],
          xAxis : [
            {
              type : 'category',
              axisTick:{
                show: true,
                inside: true
              },
              splitLine:{
                lineStyle:{
                  color: '#e0e0e0',
                  width:1
                }
              },
              axisLine:{
                lineStyle:{
                  color: '#e0e0e0',
                  width:1
                }
              },
              data : ["55-65岁",'65-75岁','75-85岁','85-95岁']
            }
          ],
          yAxis : [
            {
              type : 'value',
              axisLabel : {
                formatter: '{value}'
              },
              splitLine:{
                lineStyle:{
                  color: '#e0e0e0',
                }
              },
              axisLine:{
                lineStyle:{
                  color: '#e0e0e0',
                  width: 1
                }
              }
            }
          ],
          series : [
            {
              name:params+'老人年龄',
              type:'bar',
              itemStyle:{
                normal:{
                  color:'#66b821'
                }
              },
              barWidth: 20,
              data:option
            }
          ]
        });
      },
      setOptions3(params,option) {
        // console.log(22222,this.chart,series);
        this.dom2.setOption({
          title : {
            text: '',
            subtext: '',
            x: 'center',
            y: 'top'
          },
          tooltip : {
            trigger: 'axis',
            formatter: "{a0}:{c0}"
          },
          legend: {
            data:[params+'贫困老人']
          },
          grid:{
            y:30,
            x2:60,
            y2:35
          },
          toolbox: {
            show : false
          },
          calculable : false,
          xAxisIndex:1,
          yAxisIndex:1,
          color: ['#fe8057', '#c0504d','#9bbb59','#8064a2'],
          xAxis : [
            {
              type : 'category',
              axisTick:{
                show: true,
                inside: true
              },
              splitLine:{
                lineStyle:{
                  color: '#e0e0e0',
                  width:1
                }
              },
              axisLine:{
                lineStyle:{
                  color: '#e0e0e0',
                  width:1
                }
              },
              data : []
            }
          ],
          yAxis : [
            {
              type : 'value',
              axisLabel : {
                formatter: '{value}'
              },
              splitLine:{
                lineStyle:{
                  color: '#e0e0e0',
                }
              },
              axisLine:{
                lineStyle:{
                  color: '#e0e0e0',
                  width: 1
                }
              }
            }
          ],
          series : [
            {
              name:params+'贫困老人',
              type:'bar',
              itemStyle:{
                normal:{
                  color:'#66b821'
                }
              },
              barWidth: 20,
              data:option,
              showLegendSymbol: false
            }
          ]
        });
      },
      setOptions4(params,option) {
        // console.log(22222,this.chart,series);
        this.dom3.setOption({
          title : {
            text: '',
            subtext: '',
            x: 'center',
            y: 'top'
          },
          tooltip : {
            trigger: 'axis',
            formatter: "{a0}:{c0}"
          },
          legend: {
            data:[params+'机构养老人口']
          },
          grid:{
            y:30,
            x2:60,
            y2:35
          },
          toolbox: {
            show : false
          },
          calculable : false,
          xAxisIndex:1,
          yAxisIndex:1,
          color: ['#fe8057', '#c0504d','#9bbb59','#8064a2'],
          xAxis : [
            {
              type : 'category',
              axisTick:{
                show: true,
                inside: true
              },
              splitLine:{
                lineStyle:{
                  color: '#e0e0e0',
                  width:1
                }
              },
              axisLine:{
                lineStyle:{
                  color: '#e0e0e0',
                  width:1
                }
              },
              data : []
            }
          ],
          yAxis : [
            {
              type : 'value',
              axisLabel : {
                formatter: '{value}'
              },
              splitLine:{
                lineStyle:{
                  color: '#e0e0e0',
                }
              },
              axisLine:{
                lineStyle:{
                  color: '#e0e0e0',
                  width: 1
                }
              }
            }
          ],
          series: [
            {
              name:params+'机构养老人口',
              type:'bar',
              itemStyle:{
                normal:{
                  color:'#66b821'
                }
              },
              barWidth: 20,
              data:option
            }
          ]
        });
      }
    },
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: 100%;
    padding: 88px 0 110px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .content {
    width: 100%;
    height: auto;
    padding-bottom: 110px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  #echart2 {
    margin-top: 50px;
  }
</style>
