<!--惠老福利 志愿者-->
<template>
  <div class="container">
    <div class="list">
      <div class="list_box" v-for="(item,index) in dataList" :key="index" @click="toPages('/welfare/volunteerDetails',item.vl_id)">
        <div class="list_box_title">
          {{item.vl_title}}
        </div>
        <div class="list_box_info">
          <span>{{item.vl_position}}</span>
        </div>
        <div class="list_box_date">
          {{item.vl_starttime_text}}
        </div>
        <div class="state">
          <span v-show="item.vl_status==1" style="color:#66B821;font-size: 14px;">招募中</span>
          <span v-show="item.vl_status==0"  style="color:grey;font-size: 14px;">已结束</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "volunteer",
    data(){
      return{
        dataList:[]
      }
    },
    methods:{
      toPages(path,id){
        this.$router.push({path:path,query:{id:id}})
      }
    },
    created() {
      const _self=this;
      _self.$axios.post('http://hou.jz-365.com/api/vlactivity/lists',{}).then((res)=>{
        // console.log(res);
        _self.dataList=res.data.data.rows;
      }).catch((err)=>{
        console.log(err);
      })
    }
  }
</script>

<style scoped>
  .container{
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .list{
    width: 100%;
    height: auto;
    padding: 30px;
    box-sizing: border-box;
  }
  .list_box{
    width:100%;
    min-height: 130px;
    height: auto;
    text-align: left;
    border-bottom: 1px solid grey;
    position: relative;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .list_box_title{
    font-size: 32px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    width:400px;
  }
  .list_box_info{
    font-size: 26px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    margin-top: 30px;
    width: 200px;
    float:left;
  }
  .list_box_date{
    float: right;
    font-size: 28px;
    margin-top: 35px;
  }
  .state{
    position: absolute;
    right: 0;
    top: 10px;
  }
</style>
