<!-- 惠老福利 志愿者详情-->
<template>
  <div class="container">
    <div class="content">
      <div class="banner_box">
        <img :src="'http://hou.jz-365.com'+dataList.vl_image" alt="">
      </div>
      <div class="introduce">
        <h4>{{dataList.vl_title}}</h4>
        <p v-html="dataList.vl_content"></p>
        <p>开始时间:{{dataList.vl_starttime_text}}</p>
        <p>结束时间:{{dataList.vl_endtime_text}}</p>
      </div>
    </div>
    <div class="down">
      <div class="file-box">
        报&nbsp;&nbsp;&nbsp;名
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "volunteerDetails",
    data(){
      return{
        dataList:'',
        info_id:''
      }
    },
    created(){
      const _self=this;
      _self.info_id=_self.$route.query.id;
      _self.$axios.post('http://hou.jz-365.com/api/vlactivity/getInfo',{
        vl_id:_self.info_id
      }).then((res)=>{
        console.log(res);
        _self.dataList=res.data.data;
      }).catch((err)=>{
        console.log(err);
      })
    },
    mounted() {
      console.log(this.$route.path);
    },
  }
</script>

<style scoped>
  .container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
  }
  .content{
    width: 100%;
    height: auto;
    padding:20px 20px 150px 20px;
    box-sizing: border-box;
  }
  .banner_box{
    width: 100%;
    height: 300px;
  }
  .introduce{
    width: 100%;
    text-align: left;
    font-size: 28px;
    border-bottom: 2px solid grey;
    box-sizing: border-box;
    padding: 15px 0;
  }
  .introduce h4{
    font-size: 32px;
    margin: 10px 0;
  }
  .introduce p{
    margin: 10px 0;
  }
  .down{
    width: 100%;
    height: 150px;
    position: fixed;
    bottom:110px;
    box-sizing: border-box;
    background-color:#fff;
    z-index: 100;
  }
  .file-box{
    display: inline-block;
    position: relative;
    padding: 20px 60px;
    overflow: hidden;
    font-size: 30px;
    color: #fff;
    background-color: #66B821;
    border-radius: 15px;
    margin-right: 190px;
    margin-top: 30px;
    width: 150px;
    font-weight: bold;
  }
</style>
