<!--首页 惠老福利-->
<template>
  <view class="container">
    <my-header></my-header>
    <view class="left_box" @touchmove.prevent>
      <view v-for="(item,index) in tabList" :key="index">
        <view class="tab_list"  v-bind:class="index==indexes?'':'active'"
             @click="isChoseTab(index)">{{item.title}}
        </view>
      </view>
    </view>
    <view class="right_box">
      <view class="right_box_scroll">
        
      </view>
    </view>
    <my-footer></my-footer>
  </view>
</template>

<script>
  export default {
    name: "welfare",
    data() {
      return {
        tabList: [
          {
            title: '民政福利',
            path: '/welfare/civilAdministration'
          },
          {
            title: '长者就业',
            path: '/welfare/obtainEmployment'
          },{
            title: '免费体检',
            path: '/welfare/freeTest'
          },{
            title: '志愿者',
            path: '/welfare/volunteer'
          },{
            title: '惠老活动',
            path: '/welfare/activity'
          }, {
            title: '服务网点',
            path: '/survey'
          },
        ],
        isChose: false,
        indexes: 0
      }
    },
    mounted() {

    },
    methods: {
      isChoseTab(key) {
        console.log(key);
        this.indexes = key;
      }
    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: 100%;
    padding-top: 120upx;
    padding-bottom: 110upx;
    box-sizing: border-box;
    display: flex;
  }

  .left_box {
    width: 200upx;
    height: 100%;
    background: #64A62B;
    overflow-y: hidden;
		text-align: center;
		position: fixed;
		left: 0;
  }

  .tab_list {
    box-sizing: border-box;
    background-color: #fff;
    color: #64A62B;
    padding: 20upx 10upx;
    font-size: 35upx;
  }
  .right_box{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex: 1;
    overflow-y: auto;
  }
  .right_box_scroll{
    height:auto;
  }
  .active {
    background-color:#64A62B;
    color: #fff;
  }
</style>
