<!--在线课堂 书法-->
<template>
  <div class="container">
    <div class="content">
      <div class="list_box" v-for="(item,index) in dataList" :key="index" @click="toPages('/onlineRoom/calligraphyDetails',item.course_id)">
        <div class="img_box">
          <img :src="'http://hou.jz-365.com'+item.course_image" alt="">
          <div class="title_box">{{item.course_name}}</div>
        </div>
      </div>
    </div>
    <div class="down">
      <div class="file-box">
        一键分享
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "calligraphy",
    data() {
      return {
        dataList: []
      }
    },
    methods: {
      toPages(path, id) {
        this.$router.push({path: path, query: {id:id}})
      }
    },
    created() {
      const _self = this;
      _self.$axios.post('http://hou.jz-365.com/api/course/lists', {
        course_catid: 2
      }).then((res) => {
        console.log(res);
        _self.dataList = res.data.data.rows;
      }).catch((err) => {
        console.log(err);
      })
    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .content {
    width: 100%;
    height: auto;
    padding: 20px 20px 180px 20px;
    box-sizing: border-box;
  }

  .list_box {
    width: 100%;
    min-height: 350px;
    height: auto;
    margin-top: 20px;
  }

  .title_box {
    text-align: left;
    font-size: 28px;
  }

  .down {
    width: 100%;
    height: 150px;
    position: fixed;
    bottom: 110px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 100;
  }

  .file-box {
    display: inline-block;
    position: relative;
    padding: 20px 60px;
    overflow: hidden;
    color: #fff;
    font-size: 30px;
    background-color: #66B821;
    border-radius: 15px;
    margin-right: 190px;
    margin-top: 35px;
    width: 150px;
    font-weight: bold;
  }

  .img_box img {
    width: 100%;
    height: 300px;
  }
</style>
