<!--书法 书法详情-->
<template>
  <div class="container">
    <div class="info_box">
      <div class="video_box">
        <video :src="'http://hou.jz-365.com'+dataList.course_video"  :poster="'http://hou.jz-365.com'+dataList.course_image" controls="controls"></video>
      </div>
      <div class="video_title">{{dataList.course_name}}</div>
      <div class="state_box">
        <div class="up_box">
          <img src="../../../../../assets/image/up.png" alt="">
          <span>100人赞过</span>
        </div>
        <div class="like_box">
          <img src="../../../../../assets/image/like.png" alt="">
          <span>60人收藏</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "calligraphyDetails",
    data() {
      return {
        dataList: {
          title:'心贴心书法课程教学视频',
          videoUrl:require('../../../../../assets/video/test.mp4'),
          up:100,
          like:60,
          dataList:'',
          info_id:'',
          leftType:''
        }
      }
    },
    created() {
      const _self=this;
      _self.info_id=_self.$route.query.id;
      _self.leftType=_self.$route.query.type;
      _self.$axios.post('http://hou.jz-365.com/api/course/getInfo',{
        course_id:_self.info_id
      }).then((res)=>{
        console.log(res);
        _self.dataList=res.data.data;
      }).catch((err)=>{
        console.log(err);
      })
    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: 100%;
  }

  .info_box {
    width: 100%;
    height: auto;
    padding: 0 20px;
  }

  .video_box {
    width: 100%;
    min-height: 300px;
    height: auto;
  }

  .video_box video {
    width: 100%;
    height: 300px;
    object-fit: fill;
  }

  .video_title {
    text-align: left;
    width: 100%;
    margin-top: 20px;
    font-size: 30px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
  }

  .state_box {
    display: table;
    width: 100%;
    margin-top: 20px;
  }

  .state_box div {
    float: left;
  }

  .like_box {
    margin-left: 20px;
  }

  .state_box div span {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 28px;
    color: grey;
    width: 150px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
  }
  .up_box img {
    width: 40px;
    height: 40px;
    float: left;
  }

  .like_box img {
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 4px;
  }
</style>
