<!--在线课堂 科目列表-->
<template>
  <div class="container">
    <my-header></my-header>
    <div class="left_box" @touchmove.prevent>
      <router-link :to="item.path" v-for="(item,index) in tabList" :key="index">
        <div class="tab_list"  v-bind:class="$route.fullPath==item.path||$route.path==(item.path+'Details')||($route.path+'/'+toPath)==item.path?'':'active'"
             @click="isChoseTab(index)">{{item.title}}
        </div>
      </router-link>
    </div>
    <div class="right_box">
      <div class="right_box_scroll">
        <router-view></router-view>
      </div>
    </div>
    <my-footer></my-footer>
  </div>
</template>

<script>
  export default {
    name: "classroom",
    data() {
      return {
        tabList: [
          {
            title: '书法',
            path: '/onlineRoom/calligraphy'
          },
          {
            title: '舞蹈',
            path: '/onlineRoom/dance'
          },
          {
            title: '手工艺',
            path: '/onlineRoom/handicraft'
          },
          {
            title: '数码应用',
            path: '/onlineRoom/digital'
          },
        ],
        isChose: false,
        toPath:'',
        toPathId:''
      }
    },
    mounted() {
      this.toPath=this.$route.query.path;
      console.log(this.toPath);
      if(this.toPath==undefined||this.toPath==''){
        console.log('1');
      }else{
        this.$router.push(this.$route.path+'/'+this.toPath);
      }
    },
    methods: {
      isChoseTab(key) {
        // console.log(key);
        this.toPath=key;
        this.indexes = key;
      }
    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: 100%;
    padding-top: 88px;
    padding-bottom: 98px;
    box-sizing: border-box;
    display: flex;
  }

  .left_box {
    width: 200px;
    height: 100%;
    background: #64A62B;
    overflow-y: hidden;
  }

  .tab_list {
    box-sizing: border-box;
    background-color: #fff;
    color: #64A62B;
    padding: 20px 10px;
    font-size: 35px;
  }
  .right_box{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex: 1;
    overflow-y: auto;
  }
  .right_box_scroll{
    height:auto;
  }
  .active {
    background-color:#64A62B;
    color: #fff;
  }
</style>

