<!--首页 家政服务-->
<template>
  <div class="container">
    <my-header></my-header>
    <div class="content">
      <div class="top_box">
        <div class="top_left">商家</div>
        <div class="top_right">订单</div>
      </div>
      <div class="list">
        <div class="list_box" v-for="(item,index) in dataList" :key="index"
             @click="toPages('/serviceDetails',item.jz_id)">
          <div class="list_box_title">
            {{item.jz_company}}
          </div>
          <div class="star_box">
            <img src="../../../assets/image/like.png" v-show="item.jz_star>=1" alt="">
            <img src="../../../assets/image/like.png" v-show="item.jz_star>=2" alt="">
            <img src="../../../assets/image/like.png" v-show="item.jz_star>=3" alt="">
            <img src="../../../assets/image/like.png" v-show="item.jz_star>=4" alt="">
            <img src="../../../assets/image/like.png" v-show="item.jz_star>=5" alt="">
          </div>
          <div class="address">
            <img src="../../../assets/image/location.png" alt="">
            <span>{{item.jz_city}}</span>
          </div>
        </div>
      </div>
    </div>
    <my-footer></my-footer>
  </div>
</template>

<script>
  export default {
    name: "service",
    data() {
      return {
        dataList: []
      }
    },
    methods: {
      toPages(path, id) {
        this.$router.push({path: path, query: {id: id}})
      }
    },
    created() {
      const _self = this;
      _self.$axios.post('http://hou.jz-365.com/api/jzservice/lists', {}).then((res) => {
        console.log(res);
        _self.dataList = res.data.data.rows;
      }).catch((err) => {
        console.log(err);
      })
    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: 100%;
    padding: 88px 0 110px 0;
    box-sizing: border-box;
  }

  .content {
    width: 100%;
    height: auto;
    padding-bottom: 120px;
    box-sizing: border-box;
  }

  .top_box {
    width: 100%;
    box-sizing: border-box;
    display: table;
    margin-top: 20px;
    padding: 0 30px;
  }

  .top_left {
    float: left;
    padding: 20px 80px;
    background-color: #66B821;
    color: #FFF;
    border-radius: 10px;
    font-size: 32px;
  }

  .top_right {
    float: right;
    padding: 20px 80px;
    background-color: #66B821;
    color: #fff;
    border-radius: 10px;
    font-size: 32px;
  }

  .list {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  .list_box {
    width: 100%;
    min-height: 150px;
    height: auto;
    padding: 20px 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black; /*no*/
    text-align: left;
    position: relative;
  }

  .list_box_title {
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    font-size: 36px;
  }

  .star_box {
    margin-top: 40px;
    display: inline-block;
  }

  .star_box img {
    width: 40px;
    height: 40px;
  }

  .address {
    position: absolute;
    right: 0;
    top: 115px;
    width: 300px;
    text-align: left;
    color: grey;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .address img {
    float: left;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
</style>
