<!--首页 家政服务详情页-->
<template>
    <div class="container">
      <my-header></my-header>
      <div class="content">
        <div class="banner">
          <img :src="'http://hou.jz-365.com'+dataList.jz_image"  alt="">
        </div>
        <div class="info_box">
          <div class="top_box">
            <div class="up_box">
              <img src="../../../assets/image/up.png" alt="">
              <span>50人点赞</span>
            </div>
            <div class="like_box">
              <img src="../../../assets/image/like.png" alt="">
              <span>65人收藏</span>
            </div>
          </div>
          <div class="center_box" v-html="dataList.jz_info">

          </div>
        </div>
      </div>
      <div class="down">
        <h4 class="file-box">
          咨&nbsp;&nbsp;&nbsp;询
        </h4>
      </div>
      <my-footer></my-footer>
    </div>
</template>

<script>
    export default {
        name: "serviceDetails",
      data(){
          return{
            dataList:{},
            info_id:''
          }
      },
      created() {
        const _self=this;
        _self.info_id=_self.$route.query.id;
        _self.$axios.post('http://hou.jz-365.com/api/jzservice/getInfo',{jz_id:_self.info_id}).then((res)=>{
          console.log(res);
          _self.dataList=res.data.data;
        }).catch((err)=>{
          console.log(err);
        })
      },
      mounted() {

      }
    }
</script>

<style scoped>
  .container{
    width: 100%;
    height: 100%;
    padding-top: 88px;
    padding-bottom: 110px;
    box-sizing: border-box;
  }
  .content{
    width: 100%;
    height: auto;
    margin-bottom: 90px;
    box-sizing: border-box;
  }
  .banner{
    width: 100%;
    height: 300px;
  }
  .info_box{
    width: 100%;
    height: auto;
    padding-bottom: 180px;
  }
  .top_box{
    display: table;
    padding:20px 40px 0 40px;
    box-sizing: border-box;
  }
  .up_box{
    float: left;
  }
  .up_box span{
    float: left;
    margin-top: 8px;
    font-size: 30px;
    margin-left: 10px;
    color: grey;
  }
  .like_box{
    float: left;
    margin-left: 30px;
  }
  .like_box span{
    float: left;
    margin-top: 8px;
    font-size: 30px;
    margin-left: 10px;
    color: grey;
  }
  .center_box{
    width: 100%;
    border-bottom: 2px solid grey;
    padding:20px 40px;
    box-sizing: border-box;
    text-align: left;
    font-size: 32px;
  }
  .center_box p{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    width: 100%;
    margin: 15px 0;
  }
  .down{
    width: 100%;
    height: 150px;
    position: fixed;
    bottom:110px;
    box-sizing: border-box;
    background-color:#fff;
    z-index: 100;
  }
  .file-box{
    display: inline-block;
    position: relative;
    padding: 20px 80px;
    overflow: hidden;
    font-size: 36px;
    color: #fff;
    background-color: #66B821;
    border-radius: 15px;
    margin: 30px auto;
    width: 200px;
  }
  .up_box img {
    width: 40px;
    height: 40px;
    float: left;
  }

  .like_box img {
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 4px;
  }
</style>
