<template>
  <view class="myFooter" name='myFooter'>
    <view class="view" v-for="(item,index) in nav" @tap="selectNav(item.name)" :key='index'>
      <a  @touchstart="gotouchstart(item.tel)" @touchmove="gotouchmove" @touchend="gotouchend">
        <view class="icon"><img :src="$route.fullPath == item.name ? item.url_active : item.url" ></view>
        <view>
          <p class="title" :class="$route.fullPath == item.name ? 'active' : ''">{{item.title}}</p>
        </view>
      </a>
    </view>
  </view>
</template>

<script>
  var timeOutEvent=0;
  export default {
    name: "myFooter",
    data() {
      return {
        // isSelect:'',
        nav: [
          {
            title: '子女设置',
            name: '/pages/setUp/setUp',
            url: require('../static/img/set_up.png'),
            url_active: require('../static/img/set_up.png')
          },
          {
            title: '紧急呼叫',
            name: "",
            url: require('../static/img/help.png'),
            url_active: require('../static/img/help.png'),
            tel:'120'
          },
          {
            title: '重要消息',
            name: "/pages/message/message",
            url: require('../static/img/msg.png'),
            url_active: require('../static/img/msg.png')
          },
          {
            title: '个人中心',
            name: "/pages/mine/mine",
            url: require('../static/img/mine.png'),
            url_active: require('../static/img//mine.png')
          }
        ]
      }
    },
    onReady() {

    },
    methods: {
      selectNav(path) {
        uni.redirectTo({
        	url: path
        });
      },

      gotouchstart(phoneNumber){
        if(phoneNumber==''||phoneNumber==undefined){
          return false;
        }else {
          let _self = this;
          _self.$toast("长按3秒,紧急呼叫120")
          clearTimeout(timeOutEvent);//清除定时器
          timeOutEvent = 0;
          timeOutEvent = setTimeout(function(){
            //执行长按要执行的内容，
            window.location.href = 'tel:' + phoneNumber
          },600);//这里设置定时
        }

      },
      //手释放，如果在500毫秒内就释放，则取消长按事件，此时可以执行ontap应该执行的事件
      gotouchend(){
        clearTimeout(timeOutEvent);
        if(timeOutEvent!=0){
          //这里写要执行的内容（尤如ontap事件）
        }
      },
//如果手指有移动，则取消所有事件，此时说明用户只是要移动而不是长按
      gotouchmove() {
        clearTimeout(timeOutEvent);//清除定时器
        timeOutEvent = 0;
      }
    }
  }
</script>

<style scoped>

  .myFooter {
    background: #66B821;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 120upx;
    box-sizing: border-box;
    display: flex;
    z-index: 999;
  }
  .myFooter > .view {
	flex: 1;
    height: 100%;
    margin-top: 15upx;
	text-align: center;
  }
  .myFooter > .view img{
    width:50upx;
    height:50upx;
  }
  .myFooter > .view a{
    width: 100%;
    height: 100%;
    float: left;
    align-items: center;
    flex-direction: row;
    color: #fff;
    text-decoration: none;
  }
  .myFooter > .view a:hover{
    outline: none;
  }
  .myFooter view p{
    margin: 0;
    font-size: 26upx;
  }
  .icon{
    display: block;
  }
  .active {
    color:greenyellow;
  }
</style>
