<template>
	<view class="myHeader" name="myHeader">
		<view class="top"></view>
		<view class="header_content">
			<view class="header_left" @tap="toPage(false)">
				<img src="../static/img/home.png" style="height:100%;width:100%" alt="">
			</view>
			<view class="header_right">
				<img src="../static/img/title_all.png" style="height: 100%;width:100%;" alt="">
			</view>
			<view class="header_back" v-if="isShow" @tap="goBack()">
				<img src="../static/img/back.png" style="height: 100%;width:100%;" alt="">
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		name: "myHeader",
		data() {
			return {
				isShow: true,
				page : ''
			}
		},
		mounted(){
			if(getCurrentPages().length==1){
				this.$data.isShow=false
		}
	},
		methods: {
			toPage(o) {
				const _self = this;
				uni.reLaunch({
					url: '/pages/index/index'
				}),
				_self.isShow=o
			},
			goBack() {
				const _self = this;
				console.log(getCurrentPages())
				if(getCurrentPages().length>1){
					uni.navigateBack(1)
				}
				if(getCurrentPages()[1].__page__.path!='/'){
					_self.isShow=false
					console.log(getCurrentPages()[1])
				}
			},
			
		},
	}
				
</script>

<style scoped>
	.myHeader {
		height: 120upx;
		width: 100%;
		background: #66B821;
		z-index: 999;
		position: fixed;
		top: 0;
		text-align:center
	}

	.top {
		width: 100%;
		height: 50upx;
		background: #66B821;
	}

	.header_content {
		height: 96upx;
		width: 100%;
		background: #66B821;
		display: inline-block;
	}

	.header_left {
		width: 46upx;
		height: 44upx;
		margin-top: 24upx;
		margin-left: 20upx;
		float: left;
	}

	.header_right {
		display: inline-block;
    height:57upx;
    width:273upx;
    line-height: 44upx;
    margin-left:-40upx;
    margin-top: 18upx;
	}
	.header_right img{
		
	}
	.header_back {
		float: right;
		width: 46upx;
		height: 44upx;
		margin-right: 20upx;
		margin-top: 28upx;
	}
</style>
