<!-- 每日头条 国际新闻 -->
<template>
  <div class="container">
    <div class="content">
      <div class="news_list" v-for="(item,index) in dataList" :key="index">
        <div class="news_banner">
          <img :src="item.imgUrl" alt="">
        </div>
        <h4>{{item.title}}</h4>
        <p>详情
          <img src="../../../../assets/image/goRed.png" alt="">
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "homeNews",
    data(){
      return{
        dataList:[
          {
            imgUrl:require('../../../../assets/image/news6.jpg'),
            title:'美称愿和伊朗“不预设条件”会谈 伊朗总统回应'
          },
          {
            imgUrl:require('../../../../assets/image/news5.jpg'),
            title:'美总统参选人:特朗普对真正的美国价值观一无所知'
          },
          {
            imgUrl:require('../../../../assets/image/news4.jpg'),
            title:'特朗普夫妇启程赴英国进行国事访问'
          },
        ]
      }
    }
  }
</script>

<style scoped>
  .container{
    width:100%;
    height: 100%;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .content{
    width: 100%;
    height: auto;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .news_list{
    width: 100%;
    height: auto;
    padding: 20px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid black;
  }
  .news_banner img{
    width: 100%;
    height: 300px;
  }
  .news_list h4{
    font-size: 32px;
    text-align: left;
    margin: 10px 0;
  }
  .news_list p{
    font-size: 28px;
    color: red;
    text-align:right;
    margin: 0;
  }
  .news_list p img{
    width: 20px;
    height: 20px;
  }
</style>
