<!-- 每日头条 省内新闻 -->
<template>
  <div class="container">
    <div class="content">
      <div class="news_list" v-for="(item,index) in dataList" :key="index">
        <div class="news_banner">
          <img :src="item.imgUrl" alt="">
        </div>
        <h4>{{item.title}}</h4>
        <p>详情
          <img src="../../../../assets/image/goRed.png" alt="">
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "homeNews",
    data(){
      return{
        dataList:[
          {
            imgUrl:require('../../../../assets/image/news7.jpg'),
            title:'西宁首个生态补偿方案正式实施'
          },
          {
            imgUrl:require('../../../../assets/image/news8.jpg'),
            title:'西宁医改:打造全新健康构架'
          },
          {
            imgUrl:require('../../../../assets/image/news9.jpg'),
            title:'西宁市政协调研提高城市管理精细化水平情况'
          }
        ]
      }
    }
  }
</script>

<style scoped>
  .container{
    width:100%;
    height: 100%;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .content{
    width: 100%;
    height: auto;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .news_list{
    width: 100%;
    height: auto;
    padding: 20px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid black;
  }
  .news_banner img{
    width: 100%;
    height: 300px;
  }
  .news_list h4{
    font-size: 32px;
    text-align: left;
    margin: 10px 0;
  }
  .news_list p{
    font-size: 28px;
    color: red;
    text-align:right;
    margin: 0;
  }
  .news_list p img{
    width: 20px;
    height: 20px;
  }
</style>
