<!--大健康 体检报告-->
<template>
    <view class="container">
      <view class="list">
        <view class="list_box" v-for="(item,index) in list" :key="index" @click="toPages('/bodyTestDetails')">
        <h4>{{item.title}}</h4>
        <p>{{item.date}}</p>
        <span class="read" v-show="item.state==1">已读</span>
        <span class="unread" v-show="item.state==0">未读</span>
        </view>
      </view>
    </view>
</template>

<script>
    export default {
      name: "body_test",
      data(){
        return{
          list:[
            {
              title:'体检报告',
              date:'2019年10月10日',
              state:0
            },{
              title:'体检报告',
              date:'2019年10月10日',
              state:0
            },{
              title:'体检报告',
              date:'2019年10月10日',
              state:1
            },{
              title:'体检报告',
              date:'2019年10月10日',
              state:1
            },
          ]
        }
      },
      methods:{
        toPages(path,id){
          this.$router.push({path:path})
        }
      }
    }
</script>

<style scoped>
  .container{
    width: 100%; 
    height: 100%;
    margin: 0;
    padding: 0!important;
  }
  .list{
    width: 100%;
    height: auto;
    padding: 20upx 20upx 0 20upx;
		box-sizing: border-box;

  }
  .list_box{
    width: 100%;
    min-height: 120upx;
    height: auto;
    border-bottom: 1upx solid grey;
  }
  .list_box h4{
    font-size: 35upx;
    margin: 25upx 0 0 5upx;
    text-align: left;
  }
  .list_box p{
    font-size: 30upx;
    float: left;
    margin: 25upx 0 0 5upx;
  }
  .list_box .read{
    color: grey;
    font-size: 30upx;
    float: right;
    margin: 20upx 10upx 0 0;
  }
  .list_box .unread{
    color: red;
    font-size: 30upx;
    float: right;
    margin: 20upx 10upx 0 0;
  }
</style>
