<template>
    <view class="container">
      <my-header></my-header>
      <view class="content">
        <view class="left_title">
          <p>体</p>
          <p>检</p>
          <p>报</p>
          <p>告</p>
        </view>
        <view class="report_box">
          <img src="./../../../static/img/health3.png" alt="">
        </view>
      </view>
      <my-footer></my-footer>
    </view>
</template>

<script>
    export default {
        name: "bodyTestDetails"
    }
</script>

<style scoped>
  .container{
    width: 100%;
    height: 100%;
    padding: 88upx 0 110upx 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .content{
    width: 100%;
    height:100%;
    /*padding-bottom: 120upx;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .left_title{
    width: 30%;
    height: 100%;
    font-size: 40upx;
    font-weight: bold;
    line-height: 3;
    position: fixed;
  }
  .left_title p:first-child{
    margin-top:120%;
  }
  .report_box{
    float: right;
    width: 70%;
    height: auto;
    padding-bottom: 120upx;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
</style>
