<!--大健康 饮食推荐-->
<template>
    <view class="container">
      <view class="content">
        <view class="banner_box">
          <img src="./../../../static/img/diet6.jpg" style="width:100%; height: 100%;" alt="">
        </view>
        <p class="introduce">根据您的体检报告,营养师王医生为您定制推荐本周营养食谱</p>
        <view class="recommend_box">
          <span class="line_before"></span>
          <span class="line_title">今日推荐午餐</span>
          <span class="line_after"></span>
        </view>
        <!-- <view class="diet_list" v-for="(item,index) in dataList" :key="index"  @click="toPages('/dietDetails',item.menu_id)"> -->
					 <navigator class="details_box" v-for="(item,index) in dataList" :key="index" :url="'/pages/index/healthy/dietDetails?id='+item.menu_id">
          <view class="diet_list_box">
            <view class="diet_list_box_img">
              <img :src="'http://hou.jz-365.com'+item.menu_image" style="width: 100%;" alt="">
            </view>
            <view class="diet_list_box_title" >
              <p>{{item.time}}</p>
              <p v-if="item.menu_kind==1">早餐</p>
              <p v-if="item.menu_kind==2">午餐</p>
              <p v-if="item.menu_kind==3">晚餐</p>
              <p>{{item.menu_title}}</p>
              <p class="p1">详情</p>
            </view>
          </view>
        </navigator>
      </view>
    </view>
</template>

<script>
	
    export default {
        name: "diet",
      data(){
          return{
            dataList:[]
          }
      },
      methods:{
          
      },
      mounted() {
				console.log(666)
          const _self=this;
						uni.request({
						url: 'http://hou.jz-365.com/api/menu/lists',
						method: 'POST',
						data: {},
						success: function(res) {
							// console.log(res.data.data.rows);
							_self.dataList = res.data.data.rows;
						}
					});
      }
    }
</script>

<style scoped>
  .container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0!important;

  }
  .content{
    padding: 10upx;
  }
  .banner_box{
    width: 100%;
    height: 400upx;
  }
  .introduce{
    text-align: left;
    font-size: 30upx;
  }
  .line_before{
    display: inline-block;
    width: 100upx;
    height: 6upx;
    background: rgba(51,51,51,1);
    float: left;
    margin: 32upx 10upx 0 0;
  }
  .line_after{
    display: inline-block;
    width: 100upx;
    height: 6upx;
    background: rgba(51,51,51,1);
    float: right;
    margin: 32upx 0 0 10upx;
  }
  .line_title{
    line-height: 72upx;
    font-size: 32upx;
  }
  .recommend_box{
    display: inline-block;
		margin-left: 1.5rem;
  }
  .diet_list{
    width: 100%;
    height:200upx;
    margin-top: 30upx;
  }
  .diet_list_box{
    display: flex;
    height: 180upx;
		margin-bottom: 10upx;
  }
  .diet_list_box_img{
    flex: 1;
    height:100%;
  }
  .diet_list_box_title{
    flex: 1;
    height:100%;
  }
  .diet_list_box_title p{
    font-size: 30upx;
    margin: 0 10upx;
    text-align: left;
  }
  .diet_list_box_title .p1{
    color: red;
    text-align: right;
    margin-top: 50upx;
    font-size: 28upx;
  }
</style>
