<!-- 营养健康详情-->
<template>
  <view class="container">
    <my-header></my-header>
    <view class="content">
      <view class="banner">
        <img :src="'http://hou.jz-365.com/'+dataList.menu_image" alt="">
      </view>
      <view class="text_content" v-html="dataList.menu_description">

      </view>
    </view>
    <my-footer></my-footer>
  </view>
</template>

<script>
    export default {
        name: "dietDetails",
      data(){
          return{
            dataList:'',
            menu_id:''
          }
      },
			  onLoad(option) {
			   const _self = this;
			 console.log(option.id)
			   _self.menu_id = option.id;
			 uni.request({
			 	url: 'http://hou.jz-365.com/api/menu/getInfo',
			 	method: 'POST',
			 	data: {
			 		menu_id: _self.menu_id,
			 	},
			 	success: function(res) {
			 		console.log(res);
			 		_self.dataList = res.data.data;
			 		// _self.weather = res.data[0];
			 	}
			 });
			 }
    }
</script>

<style scoped>
  .container{
    width: 100%;
    height: 100%;
    padding:88upx 0 110upx 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .content{
    width: 100%;
    height: auto;
    padding:50upx 50upx 120upx 50upx;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .banner{
    width: 100%;
    height: 400upx;
    padding: 30upx;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .text_content{
    /*text-align: ;*/
    font-size: 28upx;
  }
</style>
