<!--首页 大健康-->
<template>
  <view class="container">
    <my-header></my-header>
    <view class="left_box" @touchmove.prevent>
      <view  v-for="(item,index) in tabList" :key="index">
        <view class="tab_list"  v-bind:class="index==indexes?'':'active'"
             @click="isChoseTab(index)">{{item.title}}
        </view>
      </view>
    </view>
    <view class="right_box">
      <view class="right_box_scroll">
				<diet v-bind:class="indexes==0?'':'active_hid'"></diet>
				<bodyTest v-bind:class="indexes==1?'':'active_hid'"></bodyTest>
				<reserve v-bind:class="indexes==2?'':'active_hid'"></reserve>
      </view>
    </view>
    <my-footer></my-footer>
  </view>
</template>

<script>
  export default {
    name: "healthy",
    data() {
      return {
        tabList: [
          {
            title: '营养健康',
            path: '/pages/index/healthy/diet'
          },
          {
            title: '体检跟踪',
            path: '/pages/index/healthy/bodyTest'
          },
          {
            title: '康复预约',
            path: '/pages/index/healthy/reserve'
          },
        ],
				dataList:[],
        isChose: false,
        indexes: 0
      }
    },
		globalData: {  
            text: 'text'  
        }, 
    mounted() {

    },
    methods: {
      isChoseTab(key) {
        this.indexes = key;
      }
    }
  }
</script>

<style scoped>
	.active_hid{display: none!important;}
  .container {
    width: 100%;
    height: 100%;
    padding-top: 120upx;
    padding-bottom: 110upx;
    box-sizing: border-box;
    display: flex;
  }

  .left_box {
    width: 200upx;
    height: 100%;
    background: #64A62B;
    overflow-y: hidden;
		position: fixed;
		float:left
  }

  .tab_list {
    box-sizing: border-box;
    background-color: #fff;
    color: #64A62B;
    padding: 20upx 10upx;
    font-size: 35upx;
		text-align: center;
  }
  .right_box{
    width: calc(100% - 200upx);
    height: calc(100% - 240upx);
    box-sizing: border-box;
    flex: 1;
    overflow-y: auto;
		position: absolute;
		right: 0;
  }
  .right_box_scroll{
    height:auto;
  }
  .active {
    background-color:#64A62B;
    color: #fff;
  }
</style>
