<!--长者健康  康复预约-->
<template>
  <view class="container">
    <view class="content">
      <view class="banner_box">
        <img src="./../../../static/img/page30.jpg" alt="">
      </view>
      <view class="introduce">
        <p>为服务于中心内老年人康复需求，医检中心专设老年康复理疗区域，拥有神经康复、脊髓损伤康复、骨与骨关节康复、神经泌尿康复和传统医学康复等多个优势专业科室。综合康复治疗手段包括运动疗法、作业疗法、语言治疗、文体治疗、水疗、物理因子治疗、心理治疗、音乐治疗、社会康复、假肢矫形、中医治疗、教育康复等。</p>
        <p>中心内专设藏医诊室和多间专业级且具有民族风格的藏医药浴间，聘请联合国教科文组织人类非物质文化遗产青海地区传承人安尔建先生（青海省藏医院药浴科主任医师）主持设计藏医药浴区域空间并提供保密级医用配方指导。</p>
      </view>
<!--      <view class="address">-->
<!--        <img src="../../../assets/image/location.png" alt="">-->
<!--        <span>青海省海南州贵德县迎宾东路</span>-->
<!--      </view>-->
    </view>
    <view class="down">
      <view class="file-box">
        咨询预约
      </view>
    </view>
  </view>
</template>

<script>
  export default {
    name: "freeTest",
    data() {
      return {}
    },
    mounted() {
    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0!important;
  }

  .content {
    width: 100%;
    height: auto;
    padding: 20upx 20upx 160upx 20upx;
    box-sizing: border-box;
  }

  .banner_box {
    width: 100%;
    height: 300upx;
  }

  .introduce {
    width: 100%;
    text-align: left;
    font-size: 28upx;
  }

  .introduce p {
    line-height: 1.8;
  }

  .address {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    margin-top: 20upx;
  }

  .address span {
    float: left;
    margin-top: 10upx;
    color: grey;
  }

  .down {
    width: 100%;
    height: 150upx;
    position: fixed;
    bottom: 110upx;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 100;
  }

  .file-box {
    display: block;
		text-align: center;
    position: relative;
    padding: 20upx 60upx;
    overflow: hidden;
    font-size: 30upx;
    color: #fff;
    background-color: #66B821;
    border-radius: 15upx;
    margin:30upx auto 0 auto;
		right:calc(25% - 95upx);
    width: 150upx;
    font-weight: bold;
  }

  .address img {
    width: 40upx;
    height: 40upx;
    float: left;
    margin-top: 6upx;
  }
</style>
