<!-- 金色广播 实评-->
<template>
  <div class="container">
    <div class="content">
      <div class="radio_list"v-for="(item,index) in dataList" :key="index">
        <div class="radio_left">
          <h4>{{item.title}}</h4>
<!--          <p>{{item.info}}</p>-->
        </div>
        <div class="radio_right">
          <img src="../../../../assets/image/radioPaly.png" alt="">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "storytelling",
    data(){
      return{
        dataList:[
          {
            title:'中国式养老，适用才是最好的',
            info:'30首 音频'
          },
          {
            title:'养老还是得大家一块来',
            info:'32首 音频'
          },
          {
            title:'中美博弈，时与势在中国一边',
            info:'58首 音频'
          },
          {
            title:'走出对台湾问题认识的三个误区',
            info:'10首 音频'
          },
          {
            title:'缓解老年大学压力还需社会化方案',
            info:'8首 音频'
          },
          {
            title:'扶老人，也要扶人心',
            info:'15首 音频'
          }
        ]
      }
    }
  }
</script>

<style scoped>
  .container{
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .content{
    width: 100%;
    height: auto;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .radio_list{
    width: 100%;
    height: 170px;
    border-bottom: 1px solid black;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .radio_left{
    float: left;

  }
  .radio_left h4{
    width: 300px;
    margin: 30px 0 0 0;
    font-size: 32px;
    text-align: left;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
  }
  .radio_left p{
    margin:20px 0 0 0;
    font-size: 32px;
    text-align: left;
  }
  .radio_right{
    float: right;
  }
  .radio_right img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
  }
</style>
