<!--首页 金色广播-->
<template>
  <div class="container">
    <my-header></my-header>
    <div class="left_box" @touchmove.prevent>
      <router-link :to="item.path" v-for="(item,index) in tabList" :key="index">
        <div class="tab_list"  v-bind:class="$route.fullPath==item.path||$route.path==(item.path+'Details')?'':'active'"
             @click="isChoseTab(index)">{{item.title}}
        </div>
      </router-link>
    </div>
    <div class="right_box">
      <div class="right_box_scroll">
        <router-view></router-view>
      </div>
    </div>
    <my-footer></my-footer>
  </div>
</template>

<script>
  export default {
    name: "welfare",
    data() {
      return {
        tabList: [
          {
            title: '评  书',
            path: '/radio/storytelling'
          },
          {
            title: '戏  曲',
            path: '/radio/opera'
          },{
            title: '音  乐',
            path: '/radio/music'
          },{
            title: '实  评',
            path: '/radio/evaluation'
          },
        ],
        isChose: false,
        indexes: 0
      }
    },
    mounted() {

    },
    methods: {
      isChoseTab(key) {
        // console.log(key);
        this.indexes = key;
      }
    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: 100%;
    padding-top: 88px;
    padding-bottom: 110px;
    box-sizing: border-box;
    display: flex;
  }

  .left_box {
    width: 200px;
    height: 100%;
    background: #64A62B;
    overflow-y: hidden;
  }

  .tab_list {
    box-sizing: border-box;
    background-color: #fff;
    color: #64A62B;
    padding: 20px 10px;
    font-size: 35px;
  }
  .right_box{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex: 1;
    overflow-y: auto;
  }
  .right_box_scroll{
    height:auto;
  }
  .active {
    background-color:#64A62B;
    color: #fff;
  }
</style>
