<!-- 金色广播 评书 -->
<template>
    <div class="container">
      <div class="content">
        <div class="radio_list"v-for="(item,index) in dataList" :key="index">
          <div class="radio_left">
            <h4>{{item.title}}</h4>
            <p>{{item.info}}</p>
          </div>
          <div class="radio_right">
            <img src="../../../../assets/image/radioPaly.png" alt="">
          </div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        name: "storytelling",
      data(){
          return{
            dataList:[
              {
                title:'乱世枭雄选段',
                info:'400回 音频'
              },
              {
                title:'白眉大侠选段',
                info:'200回 音频'
              },
              {
                title:'大明英烈选段',
                info:'100回 音频'
              },
              {
                title:'百年风云选段',
                info:'200回 音频'
              },
              {
                title:'红楼梦选段',
                info:'100回 音频'
              },
              {
                title:'三国演义选段',
                info:'300回 音频'
              }
            ]
          }
      }
    }
</script>

<style scoped>
  .container{
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .content{
    width: 100%;
    height: auto;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .radio_list{
    width: 100%;
    height: 170px;
    border-bottom: 1px solid black;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .radio_left{
    float: left;

  }
  .radio_left h4{
    width: 300px;
    margin: 30px 0 0 0;
    font-size: 32px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .radio_left p{
    margin:20px 0 0 0;
    font-size: 32px;
    text-align: left;
  }
  .radio_right{
    float: right;
  }
  .radio_right img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
  }
</style>
