<!--首页 肿瘤基因-->
<template>
  <view class="container">
    <my-header></my-header>
    <view class="content">
      <view class="banner">
        <img src="./../../../static/img/banner20.jpg" alt="">
      </view>
      <view class="info_box">
        <h4 class="title">青海允英医学检测</h4>
        <view class="center_box">
          <p>
            青海允英医学检测有限公司是由青海蓓翔城市投资有限公司和国家级高新技术企业上海允英医疗科技有限公司联合成立的青海省首家第三方PCR基因检测机构。按照GMP标准与医检中心其他板块隔离建设建筑面积近800平方米青海省首家肿瘤基因检测专业Illumina测序和PCR（基因增扩）综合基因检测实验室。
          <p>
            实验室设备均采用国际专业内领先品牌型号，允英医疗科技创始人张道允博士对青海省肿瘤难题突破和中心项目非常重视，因此实验研发团队由上海允英医疗科技有限公司和嘉兴允英医学检验有限公司核心骨干技术人才入驻，保障中心实验室技术水平同步领先于国内同行业。</p>
          <p>实验室的设立在服务于医检中心检测业务的基础上，重点为肿瘤基因检测（液体活检技术）的技术突破和服务于全省肿瘤检测需求服务，致力于提升青海省区域内肿瘤检测、预防、治疗等多方面的综合水平，造福社会。</p>
        </view>
      </view>
    </view>
    <view class="down">
      <h4 class="file-box">
        咨询预约
      </h4>
    </view>
    <my-footer></my-footer>
  </view>
</template>

<script>
  export default {
    name: "tumour",
    data() {
      return {
        dataList: {}
      }
    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: 100%;
    padding-top: 88upx;
    padding-bottom: 110upx;
    box-sizing: border-box;
  }

  .content {
    width: 100%;
    padding-bottom: 260upx;
    box-sizing: border-box;
  }

  .banner {
    width: 100%;
    height: 400upx;
    padding: 20upx;
    box-sizing: border-box
  }

  .info_box {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  .top_box {
    display: table;
    padding: 20upx 40upx 0 40upx;
    box-sizing: border-box;
  }

  .title {
    font-size: 36upx;
    text-align: center;
    padding: 0 40upx;
    margin: 0;
  }

  .up_box span {
    float: left;
    margin-top: 8upx;
    font-size: 30upx;
    margin-left: 10upx;
    color: grey;
  }
  .like_box span {
    float: left;
    margin-top: 8upx;
    font-size: 30upx;
    margin-left: 10upx;
    color: grey;
  }

  .center_box {
    width: 100%;
    /*border-bottom: 2upx solid grey;*/
    padding: 0 40upx;
    box-sizing: border-box;
    text-align: left;
    font-size: 32upx;
  }


  .center_box p {
    line-height: 1.5;
  }

  .down {
    width: 100%;
    height: 150upx;
    position: fixed;
    bottom: 110upx;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 100;
  }

  .file-box {
    display: block;
    position: relative;
    padding: 20upx 80upx;
    overflow: hidden;
    font-size: 36upx;
    color: #fff;
    background-color: #66B821;
    border-radius: 15upx;
    margin: 30upx auto;
    width: 150upx;
    font-weight: bold;
  }
</style>
