<!--首页 预约床位-->
<template>
  <view class="container">
	  <my-header></my-header>
    <view class="price_box">
		<view>
			<!-- <span class="span1" >价格 </span> -->
			<span class="span2" >价格：</span>
		</view>
      <view class="input_box">
        <input class="min_price" type="text" v-model="minPrice">
        <span class="line"></span>
        <input class="max_price" type="text" v-model="maxPrice">
      </view>
      <view class="search_btn" @tap="search(minPrice,maxPrice)">
        <img src="../../../static/img/search.png" alt="">
      </view>
    </view>
    <view class="list_box">
      <navigator class="details_box" v-for="(item,index) in dataList" :key="index" :url="'/pages/index/bed/bedDetails?id='+item.ob_id">
        <view class="details_box_left">
          <h4>{{item.name}}</h4>
          <p>综合评分: 8.2分</p>
        </view>
        <view class="details_box_right">
          <p>
            <img src="../../../static/img/location.png" alt="">
            <span>{{item.address}}</span>
          </p>
          <span class="list_box_price">价格:{{item.minPrice}}-{{item.maxPrice}}</span>
        </view>
      </navigator>
    </view>
	<my-footer ></my-footer>
  </view>
</template>

<script>
  export default {
    name: "bed",
    data() {
      return {
        dataList: [],
		minPrice:null,
		maxPrice:null
      }
    },
    methods: {
      search(min,max){
      	// uni.request({
      	// 	url: 'http://192.168.0.105:7001/app-old-oldlif/getbeadhouse_list/byprice?minprice='+this.minPrice+'&&maxprice='+this.maxPrice',
      	// 	method: 'get',
      	// 	data: {},
      	// 	success: function(res) {
      	// 		_self.dataList = res.data;
      	// 			console.log(_self.dataList); 
      	// 	}
      	// });
		console.log(this.minPrice)
      }
    },
    onLoad() {
      const _self = this;
      // _self.$axios.post('http://hou.jz-365.com/api/orderbed/lists', {}).then((res) => {
      //   console.log(res);
      //   _self.dataList = res.data.data.rows;
      // }).catch((err) => {
      //   console.log(err);
      // });
	  uni.request({
	  	url: 'http://192.168.0.105:7001/app-old-oldlif/getbeadhouse_list',
	  	method: 'get',
	  	data: {},
	  	success: function(res) {
	  		_self.dataList = res.data;
			console.log(_self.dataList); 
	  	}
	  });
    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: auto;
    padding-top: 70px;
    padding-bottom: 110upx;
    box-sizing: border-box;
	text-align: center;
  }

  .price_box {
    width: 100%;
    height: 100upx;
    text-align: center;
    position: absolute;
	top:150upx;
  }

  .input_box {
    display: inline-block;
    position: relative;
    left: -10upx;
  }

  .min_price {
    width: 180upx;
    height: 68upx;
    border: 1upx solid #66B821; /*no*/
    border-radius: 10upx;
    margin-top: 14upx;
    outline: none;
    box-sizing: border-box;
    color: grey;
    text-align: center;
    margin-right: 24upx;float: left;
  }

  .max_price {
    width: 180upx;
    height: 68upx;
		margin-top: 14upx;
    border: 1upx solid #66B821; /*no*/
    border-radius: 10upx;
    outline: none;
    box-sizing: border-box;
    color: grey;
    text-align: center;
    margin-left: 24upx;float: left;
  }

  .line {
    display: inline-block;
    width: 48upx;
    height: 5upx;
    background: #66B821;
    position: absolute;
    left: 50%;
    margin-left: -24upx;
    top: 53%;
  }

  .search_btn {
    float: right;
    margin-top: 20upx;
    margin-right: 10upx;
  }

  .list_box {
    padding-top: 100upx;
    width: 100%;
    height: auto;
    overflow-y: auto;
  }

  .details_box {
    width: 100%;
    min-height: 160upx;
    height: auto;
    border-bottom: 1upx solid gainsboro; /*no*/
    display: flex;
    box-sizing: border-box;
    padding: 8upx;
  }

  .details_box_left {
    flex: 1;
    box-sizing: border-box;
  }

  .details_box_left h4 {
    margin: 8upx 0 0 0;
    padding: 0;
    text-align: left;
    font-size: 36upx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .details_box_left p {
    text-align: left;
    color: grey;
    margin: 50upx 0 0 0;
  }

  .details_box_right {
    flex: 1;
    box-sizing: border-box;
    position: relative;
  }

  .details_box_right p {
    margin: 8upx 0 0 0;
    padding: 0;
    width: 200upx;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    float: right;
  }

  .details_box_right .list_box_price {
    clear: both;
    display: block;
    float: right;
    margin-top: 60upx;
    font-size: 30upx;
    margin-right: 25upx;
  }

  .search_btn img {
    width: 64upx;
    height: 64upx;
    margin-right: 20upx;
  }

  .details_box_right img {
    width: 34upx;
    height: 34upx;
    float: left;
  }

  .price_box .span1 {
    float: left;
    margin-top: 34upx;
    margin-left: 22upx;
    font-size: 32upx;
  }

  .price_box .span2 {
    float: left;
    margin-top: 20upx;
    margin-left: 12upx;
  }
</style>
