<!--首页 预约床位详情-->
<template>
  <view class="container">
	  <my-header></my-header>
    <view class="content">
      <view class="banner">
        <img :src="'http://hou.jz-365.com'+dataList.ob_image" alt="">
      </view>
      <view class="info_box">
        <h4 class="title">{{dataList.ob_hospital}}</h4>
        <view class="top_box">
          <view class="up_box">
            <img src="../../../static/img/up.png" alt="">
            <span>332人点赞</span>
          </view>
          <view class="like_box">
            <img src="../../../static/img/like.png" alt="">
            <span>440人收藏</span>
          </view>
        </view>
        <view class="center_box" v-html="dataList.ob_info">

        </view>
      </view>
    </view>
    <view class="down">
      <h4 class="file-box">
        咨询预约
      </h4>
    </view>
	<my-footer ></my-footer>
  </view>
</template>

<script>
  export default {
    name: "bedDetails",
    data() {
      return {
        dataList: {},
        info_id: ''
      }
    },
    onLoad(option) {
      const _self = this;
	  console.log(option.id)
      _self.info_id = option.id;
      // _self.$axios.post('http://hou.jz-365.com/api/orderbed/getInfo', {
      //   ob_id: _self.info_id
      // }).then((res) => {
      //   console.log(res);
      //   _self.dataList = res.data.data;
      // }).catch((err) => {
      //   console.log(err);
      // })
	  uni.request({
	  	url: 'http://hou.jz-365.com/api/orderbed/getInfo',
	  	method: 'POST',
	  	data: {
	  		ob_id: _self.info_id,
	  	},
	  	success: function(res) {
	  		// console.log(res.data.data[0]);
	  		_self.dataList = res.data.data;
	  		// _self.weather = res.data[0];
				
	  	}
	  });
    }
  }
</script>

<style scoped>
  .container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .content {
    width: 100%;
	padding-top: 120upx;
    padding-bottom: 300upx;
    box-sizing: border-box;
  }

  .banner {
    width: 100%;
    height: 300upx;
    padding: 20upx;
    box-sizing: border-box
  }

  .info_box {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  .top_box {
    display: table;
    padding: 20upx 40upx 0 40upx;
    box-sizing: border-box;
  }

  .title {
    font-size: 32upx;
    text-align: left;
    padding: 0 40upx;
    margin: 0;
  }

  .up_box {
    float: left;
  }

  .up_box span {
    float: left;
    margin-top: 8upx;
    font-size: 30upx;
    margin-left: 10upx;
    color: grey;
  }

  .like_box {
    float: left;
    margin-left: 30upx;
  }

  .like_box span {
    float: left;
    margin-top: 8upx;
    font-size: 30upx;
    margin-left: 10upx;
    color: grey;
  }

  .center_box {
    width: 100%;
    border-bottom: 2upx solid grey;
    padding: 20upx 40upx;
    box-sizing: border-box;
    text-align: left;
    font-size: 32upx;
  }

  .center_box >>> view {
    max-width: 100%;
  }

  .down {
    width: 100%;
    height: 150upx;
    position: fixed;
    bottom: 110upx;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 100;
	text-align: center;
  }

  .file-box {
    display: inline-block;
    position: relative;
    padding: 20upx 80upx;
    overflow: hidden;
    font-size: 36upx;
    width: 200upx;
    color: #fff;
    background-color: #66B821;
    border-radius: 15upx;
    margin: 30upx auto 0 auto;
  }

  .up_box img {
    width: 40upx;
    height: 40upx;
    float: left;
  }

  .like_box img {
    width: 40upx;
    height: 40upx;
    float: left;
    margin-top: 4upx;
  }
</style>
